<div class="row">
  <div class="col-sm-12">
    <h3><span id="comment-count"><%= @node.answers.length %></span> Answers</h3>
    <div id="answers">
    <% @node.answers.each do |answer| %>
      <%= render :partial => "questions/answer", :locals => {answer: answer} %>
    <% end %>
    </div>
    <div id="post-answer">
    <% if current_user %>
      <%= render :partial => "comments/form", :locals => { title: "Post an answer", comment: false, placeholder: "Help users by posting an answer to this question", is_answer: true } %>
    <% else %>
    <p><a class="requireLogin" data-mode="signup">Sign up</a> or <a data-toggle="modal" data-target="#loginModal"> <%= t('layout._header.login.login_title') %> </a> to post an answer to this question.</p>
    <% end %> 
    </div>
  </div>
</div>
