<input type="hidden" name="type" value="question">
<div class="form-group"> 
  <div class="col-sm-10">
    <div class="expandingArea">
      <pre><span></span><br/></pre>
      <textarea name="body" rows="1" placeholder="Leave a comment"></textarea>
    </div>  
  </div>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>