<% questions = questions || @questions # accept local if present, default to instance %>
<div class="card-view questions-page row">
	<% questions.each_with_index do |node,i| %>
		<div class="<% if @widget %>col-xs-4 col-sm-4 col-md-4 <% end %>col-lg-4" style="margin-top:20px;">
      <%= render partial: 'notes/card', locals: { node: node, i: i, tagname: tagname } %>
    </div>

    <% unless @widget %><hr class="d-lg-none" /><% end %>
    <% if ((i+1)/3.0).to_i == ((i+1)/3.0) %>
    <% unless @widget %><hr class="d-lg-none grid" /><% end %>
    <% end %>
  <% end %>
</div>
<div class="text-center mt-3">
  <% if @pagy %>
    <%== pagy_bootstrap_nav @pagy %>
  <% else %>
    <%= will_paginate questions, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer unless @unpaginated || questions.empty? %>
  <% end %>
</div>
