<% if node.status == 4 %>
  <p class="alert alert-warning moderated">
    <% if logged_in_as(['admin','moderator']) %>
      Moderate first-time post: <br class="hidden-xs hidden-sm"/>
      <a class="btn btn-default btn-xs" href="/moderate/publish/<%= node.id %>">Approve</a>
      <a class="btn btn-default btn-xs" href="/moderate/spam/<%= node.id %>">Spam</a>
    <% else %>
      Pending approval by <a href='/wiki/moderation'>community moderators</a>. Please be patient!
    <% end %>
  </p>
<% end %>
