  <br />

  <ul class="nav nav-tabs">
    <li class="active">
      <a class="wikis-tab" href="#wiki" data-toggle="tab">
        <span class="visible-xs"><i class="fa fa-book"></i></span>
        <span class="hidden-xs">Wiki</span>
      </a>
    </li>
    <li>
      <a class="lists-tab" href="#lists" data-toggle="tab">
        <span class="visible-xs"><i class="fa fa-comment"></i></span>
        <span class="hidden-xs">Discussion lists</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="wiki">

      <%= render partial: "dashboard/wiki", locals: { wikis: @wikis } %>

    </div>

    <div class="tab-pane" id="lists">

      <div class="meta"> 
        <select class="form-control input-sm list-select">
          <option value="combined">All</option>
          <option value="publiclaboratory">Public Laboratory</option>
          <option value="grassrootsmapping">Grassroots Mapping</option>
          <option value="plots-spectrometry">Spectrometry</option>
          <option value="plots-infrared">Infrared</option>
          <option value="plots-airquality">Air Quality</option>
          <option value="plots-waterquality">Water Quality</option>
          <option value="plots-dev">Developers</option>
        </select>
      </div>

      <div class="lists">

        <i style="margin:20px 45% 20px;" class="fa fa-circle-o-notch fa-spin"></i>

      </div>

    </div>

  </div>
