<br />
<ul class="nav nav-tabs">
  <li class="active">
    <a class="lists-tab" href="#ask-question" data-toggle="tab">
      <span class="visible-xs"><i class="fa fa-comment"></i></span>
      <span class="hidden-xs">Ask a question</span>
    </a>
  </li>
  <li>
    <a class="wikis-tab" href="#wiki" data-toggle="tab">
      <span class="visible-xs"><i class="fa fa-book"></i></span>
      <span class="hidden-xs"><%= t('dashboard._sidebar.wiki') %></span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="wiki">
    <%= render partial: "dashboard/wiki", locals: { wikis: @wikis } %>
  </div>

  <div class="tab-pane active" id="ask-question">
    <% cache('feature_dashboard-sidebar', skip_digest: true) do %>
      <%= feature('dashboard-sidebar') %>
    <% end %>
    <!-- Twitter follow bitton, options can be adjusted here: https://publish.twitter.com/# -->
    <a href="https://twitter.com/PublicLab?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @PublicLab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <!-- Facebook like button, options can be adjusted here: https://developers.facebook.com/docs/plugins/like-button/  -->
    <div class="fb-like" data-href="https://www.facebook.com/PublicLab/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
  </div>
</div>
