<div id="comments" class="span10 comments" style="margin-left:0;">

  <script src="/assets/js/marked.js"></script>
  <script>
  (function(){

    $E = {
      preview: function(id,text) {
        $('#'+id)[0].innerHTML = marked(text)
      }
    }

  })()
  </script>

  <h3><span id="comment-count"><%= @node.comments.length %></span> Comments</h3>

  <div id="comments-container">
  <% @node.comments.each do |comment| %>
    <% if comment.cid == @node.comments.last.cid %><a id="last" name="last"></a><% end %>

    <%= render :partial => "notes/comment", :locals => {:comment => comment} %>

  <% end %>
  </div>

  <% if current_user %>
  <form id="comment-form" data-remote="true" class="well" action="/comment/create/<%= @node.nid %>">
    <h4 style="margin-top:0;">Post comment</h4>

    <textarea onFocus="editing=true" name="body" class="span12" id="text-input" rows="6" cols="40" placeholder="Type **Markdown** here."></textarea>
    <div class="well span12" id="preview" style="display:none;"> </div>
    <br style="clear:both;"/>

    <script>
      $('#comment-form').bind('ajax:beforeSend', function(){
        $("#text-input").prop('disabled',true)
        $("#comment-form .btn-primary").button('loading',true)
      });
      $('#comment-form').bind('ajax:success', function(e,response){
        $('#text-input').prop('disabled',false)
        $('#text-input').val('')
        $('#comments-container').append(response)
        $('#comment-count')[0].innerHTML = parseInt($('#comment-count')[0].innerHTML)+1
        $("#comment-form .btn-primary").button('reset')
        $('#preview').hide();
        $('#text-input').show();
        $('#preview-btn').button('toggle');
      })
      $('#comment-form').bind('ajax:error', function(e,response){
        $('#comment-form .control-group').addClass('error')
        $('#comment-form .control-group .help-inline').remove()
        $('#comment-form .control-group').append('<span class="help-inline">Error: there was a problem.</span>')
      })
    </script>

    <div class="control-group">
      <button type="submit" class="btn btn-primary">Publish</button>
      <a id="preview-btn" class="btn" onClick="$('#preview').toggle();$('#text-input').toggle();$('#preview-btn').button('toggle');$E.preview('preview',$('#text-input').val())">Preview</a>
      <span>(logged in as <b><%= current_user.username %></b>)</span>
    </div>
  </form>
  <% else %>
  <p>You must be <a href="/login">logged in</a> to comment.</p>
  <% end %>
</div>
