<div class="row">

  <div id="comments" class="col-md-10 comments">

    <h3><span id="comment-count"><%= @node.comments.length %></span> Comments</h3>
 
    <div id="comments-container">
      <% @node.comments.each do |comment| %>
        <% if comment.cid == @node.comments.last.cid %><a id="last" name="last"></a><% end %>
  
        <%= render :partial => "notes/comment", :locals => {:comment => comment} %>
  
      <% end %>
    </div>
 
    <% if current_user %>
      <%= render :partial => "comments/form", :locals => { title: "Post comment", comment: false } %>
    <% else %>
      <p>You must be <a href="/login">logged in</a> to comment.</p>
    <% end %>

  </div>

</div>
