<script src="/assets/notes.js" type="text/javascript"></script>
<div class="col-lg-9 note-show moderated">
  <div class="alert alert-info"></div>
  <div class="alert alert-warning"></div>
  <div class="alert alert-info">This was marked as a candidate activity -- <a href="https://publiclab.org/notes/warren/09-17-2016/what-makes-a-good-activity" >read about how to adapt its content</a> into a fully-fledged, step-by-step activity that can be easily replicated.</div>
  <div class="alert alert-info"> <a href="/n/"></a>.</div>
  <div class="alert alert-info"> <a href="/tag/series:"></a>.</div>
  <div class="alert alert-info"> <a href="/n/"></a>.</div>




  <div class="alert alert-success"> You are a coauthor of this post. This attributes your contribution, and gives you edit access to the note. <a href="https://publiclab.org/wiki/power-tags#Coauthorship"> Learn more </a></div>
  <div class="alert alert-success"> This is an upgrade for <a href="/"></a>. Try building it and <a href="/n/"> report back </a>how it goes.</div>
  <div class="d-print-block" style="display:none;margin-bottom:3%">
  <span> <h1 style="display:inline-block;">Public Lab </h1> <h3 style="display:inline-block;">Research note</h3></span>
  </div>




    <a class="main-image" style="max-width:100%;width:800px;" href="">



    <!--<div class="expand"><a onClick="$('.main-image').toggleClass('compressed');"><i class="fa fa-angle-down"></i></a></div>-->
  

  <h1 style="margin-top: 40px;"></h1>

  <div id="note-info">

    <span>
      <span class="badge badge-danger"></span> |
      <span class="badge badge-success">Draft</span> |
      by <a href="/profile/"></a>
      ,
              <a href="/profile/">
                </a>

            <a class="d-print-none" aria-label="Add Coauthor" onClick="promptTag('with:')" href="#"><i style="color:#aaa;" class="fa fa-pencil"></i></a> |

      <span class="d-none d-lg-inline d-print-none">
        
      </span>
      <span class="d-xl-none">
        
      </span>
      <a class="d-lg-none collapse-btn d-print-none" data-toggle="collapse" href="#collapse-info" role="button" aria-expanded="false" aria-controls="collapse-info" id="collapse-button">...</a>
      <span class="collapse collapse-info" id="collapse-info">
        | <a aria-label="Link to note" href="/n/"><i class="fa fa-link"></i></a> <span class="d-none d-xl-inline"><a href="/n/">#</a></span>
      </span>
      <span class="d-none d-lg-inline d-print-none">
        | <a aria-label="Link to note" href="/n/"><i class="fa fa-link"></i></a> <span class="d-none d-xl-inline"><a href="/n/">#</a></span>
      </span>
    </span>

  </div>

  <hr style="margin-top:10px;" />

  
    <p style="color:#aaa;"><i style="color:#db4;" class="fa fa-large fa fa-star-o"></i> <i></i></p>
    <hr />
  

  

  <div id="content" class="pl-content note">
    
    
  </div>

  
    <table id="files" class="table">
      <tr>
        
      </tr>
      
        <tr>
          <td><a href=""><i style="text-decoration:none;" class="fa fa-file"></i><span style="text-decoration:none;"> </span></a></td>
          <td></td>
          <td></td>
        </tr>
      
    </table>
  

  
    <a href="javascript:window.location.reload(true)" onClick="addTag('locked');">Lock Note</a>
  




  
  <hr/>
  <p>This looks like an event.
    
      <span><button id = "date-toggle" class = "btn-outline-secondary btn-sm"data-toggle="tooltip" data-placement="right" title="Add Date"><i class="fa fa-calendar" aria-hidden="true"></i></button></span>
    
  <p>
  <div id="event-datepicker">
    <input type="text" class="datepicker" aria-describedby="DatePickerGuide"/>

    <span><button id="save-event-date" class="btn-outline-secondary btn-sm">Save Date</button></span>
    <small id="DatePickerGuide" class="form-text text-muted">
      Add date to your awesome event in this box
    </small>

    <div class="toast fade alert alert-success" id="mytoast" role="alert" aria-live="assertive" aria-atomic="true">
    Date added successfully
    </div>

  </div>
  

  <div class="d-print-none">
    <hr />

   
      
        
          
        
      
   

    
      <p><b>
        <script>
          jQuery(document).ready(function() {
            cal = ics();
            cal.addEvent('', false, false, '', '');
          })
        </script>
        <i class="fa fa-calendar"></i>  </b>
        <a class="label" onClick="cal.download()"></a>
      </p><br />
      <p> <a class="btn-lg btn-primary" href="/rsvp/">RSVP</a>
        
        
          
        
      <hr />
    
    
      
      





        
      
        <div id="legacy-editor-container"></div>
      
    
  </div>

</div><!--/span-->


<style>
  .collapse.in {
      display: unset;
  }
  @media (min-width: 1000px){
    .collapse-info {
        display: none !important;
    }
  }
  .collapse-btn{
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.14);
    border-radius: 3px;
  }
</style>
