<script>
$(document).ready(function() {
$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});
$(".collapsed").click(function() {
        $("#wrapper").toggleClass("active");
});
});
</script>
<%= stylesheet_link_tag "spam" %>

<nav class="nav_top navbar navbar-expand">
    <a class="navbar_title">Moderator's Dashboard</a>
    <i id="menu-toggle" href="#" class="fa fa-bars"></i>

     <% if params[:action] != "spam_revisions" && params[:action] != "spam_comments" %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link bm" href="#" id="batch-spam" > Spam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bm" href="#" id="batch-publish">Publish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bm " href="#" id="delete-batch">Delete</a>
      </li>
       <li class="nav-item">
        <a class="nav-link bm" href="#" id="all">Select</a>
      </li>
    </ul>
  <% end %>
</nav>
<div id="wrapper" >
    <nav class="sidenav" id="sidebar-wrapper">
        <div class="sidenav-menu">
            <div class="nav">
                <div class="sidenav-menu-heading">Menu
                </div>
                <a class="nav-link collapsed not_working" href="#">
                <div class="nav-link-icon"><i class="fa fa-tachometer"></i></div>
                Dashboard
                </a>
                <div class="sidenav-menu-heading">Spam Moderation
                </div>
                <a class="nav-link collapsed <% unless params[:type] && params[:action] == "spam_revisions" %> active <% end %>" href="/spam2">
                    <div class="nav-link-icon <% unless params[:type] && params[:action] == "spam_revisions" %> active <% end %>"><i class="fa fa-address-book"></i></div>
                    Bulk Moderation
                </a>
                <a class="nav-link collapsed <% if params[:type] == "wiki" %> active <% end %>" href="/spam2/wiki" >
                    <div class="nav-link-icon <% if params[:type] == "wiki" %> active <% end %>"><i class="fa fa-book"></i></div>
                    Wiki
                </a>        
                <a class="nav-link collapsed <% if params[:action] == "spam_revisions" %> active <% end %>" href="/spam2/revisions" >
                    <div class="nav-link-icon <% if params[:action] == "spam_revisions" %> active <% end %>"><i class="fa fa-list"></i></div>
                    Revisions 
                </a>         
                <a class="nav-link collapsed <% if params[:action] == "spam_comments" %> active <% end %>" href="/spam2/comments" >
                    <div class="nav-link-icon <% if params[:action] == "spam_comments" %> active <% end %>"><i class="fa fa-comment"></i></div>
                    Comments
                </a>        
                  <a class="nav-link collapsed" href="/people" >
                    <div class="nav-link-icon"><i class="fa fa-user"></i></div>
                    Active Users 
                </a>  
            </div>
        </div>   
    </nav>
    <div id="page-content-wrapper">
        <%= render partial: 'spam2/nodes' if @nodes %>
        <%= render partial: 'spam2/revisions' if @revisions %>
        <%= render partial: 'spam2/comments' if @comments %>
    </div>
</div>