<form id="inline_searchform" class="form" autocomplete="off">
  <div class="form-group form-inline">
    <input tabindex="1" id="inline_searchform_input" type="text" class="search-query typeahead form-control" data-provide="typeahead" value="<%= params[:id] %>">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search fa fa-white"></i></button>
  </div>
</form>

<script>
  jQuery(document).ready(function() {
    $('#inline_searchform').submit(function(e){ 
      e.preventDefault()
      window.location = '/search/'+$('#inline_searchform_input').val()
    })
    $('#inline_searchform_input').typeahead({
      items: 8,
      minLength: 3,
      source: function (query, process) {
        var term = query.split(',').pop()
        if (term.length > 2) {
          return $.post('/search/typeahead/'+term, {}, function (data) {
            return process(data)
          })
        }
      }
    })
  })
</script>
