<div class="col-md-2">
  <%= render :partial => "search/nav", locals: { section: "search-all" } %>
</div>

<div class="col-md-10">
  <div class="container">

    <h2>Search</h2>
 
    <p>This page uses our internal search system, in case the Google-powered search doesn't work.</p>
 
    <%= render partial: "search/form", locals: { searchType: "content" } %>

  </div>
</div>
