<h4>Here you can search for research notes, users, tags and more:</h4>

</br>

<form id="inline_searchform" class="form" autocomplete="off">
  <div class="form-group form-inline">
    <input tabindex="1" style="min-width: 350px;" id="inline_searchform_input" type="text" class="search-query typeahead form-control" data-provide="typeahead" value="<%= params[:id] %>">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search fa fa-white"></i></button>
  </div>
</form>


<script type="text/javascript">
  //Set up the _header search form submission
  $('#inline_searchform').submit(function(e){
    e.preventDefault();
    window.location = "/search/notes/" + $('#inline_searchform_input').val();
  });
</script>
