body {
  padding-bottom: 40px;
}
h1,h2,h3,h4 {
  font-family:Junction, lucida grande,lucida sans console,sans-serif;
  font-weight:normal;
}

#header {
}
#header .brand {
  color:white;
}

.dropzone {
  border:4px dashed #ccc;
  color: #aaa;
  font-size:16px;
  padding:20%;
  text-align:center;
  margin-bottom:10px;
}
.dropzone.hover {
  background:#ddd;
  color:#bbb;
  border-color:#bbb;
}

#preview {
  margin:0;
  margin-bottom:10px;
  background:white;
}

