<div class="col-md-3">

  <h3>Spam moderation:</h3> 

  <p>Moderators and admins have the ability to "spam" posts if they include inappropriate content, blatant advertising, or are otherwise problematic. If you're not sure, email <a href="mailto:organizers@publiclab.org">organizers@publiclab.org</a>. If we all work together, we can keep spam to a minimum; thanks for helping out!</p>

  <hr />

</div>

<div class="col-md-9">

  <h3>Moderate potential spam</h3>

  <ul class="nav nav-tabs">
    <li <% unless params[:type] && params[:action] == "spam_revisions" %>class="active"<% end %>><a href="/spam">Filtered</a></li>
    <li <% if params[:type] == "wiki" %>class="active"<% end %>><a href="/spam/wiki"><i class="fa fa-book"></i><span class="hidden-sm"> Wiki</span></a></li>
    <li <% if params[:action] == "spam_revisions" %>class="active"<% end %>><a href="/spam/revisions"><i class="fa fa-list"></i><span class="hidden-sm"> Revisions</span></a></li>
  </ul>

  <br />

  <% if params[:action] != "spam_revisions" %>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-default" id="batch-delete" href="javascript:void();"><i class="fa fa-ban-circle"></i> Spam all checked and ban authors</a>
    </div>
  </div>
  <br />
  <% end %>

  <%= render partial: 'admin/nodes' if @nodes %>
  <%= render partial: 'admin/revisions' if @revisions %>

</div>
