<div class="col-lg-3">

  <%= render :partial => "sidebar/post_button" %>

  <hr />

  <% if tagnames = @user.tagnames(20,false) %>
  <h4><%= raw t('sidebar._author.recent_tags_for_author', :url1 => "/people/"+@user.name, :author => @user.name) %></h4>
  <ul class="navbar-nav">
    <% tagnames.each do |tagname| %>
      <li class="nav-item"><a class="nav-link" href="/tag/<%= tagname %>"><i class="fa fa-tag"></i> <%= tagname %></a></li>
    <% end %>
  </ul>
  <% end %>

</div>
