<% if @node.has_power_tag('events') %>
  <div class='well'>
    <h4>Local events</h4>
    <ul class="nav bullet">
      <% events = @node.power_tags('events') %>
      <% events.each do |power_tag| %>
        <% DrupalTag.find_nodes_by_type_with_all_tags(["event",power_tag]).sort_by{|a| a.changed}.each do |node| %>
          <li><a href="<%= node.path %>"><i class="fa fa-calendar"></i><% if node.has_power_tag('date') %> <b><%= DateTime.strptime(node.power_tag('date'),'%m-%d-%Y').to_date.to_s(:long) %></b><% end %> <%= node.title %></a></li>
        <% end %>
      <% end %>
      <% if events.length == 0 %><li>No events</li><% end %>
    </ul>
    <p><a class="btn btn-primary" href="/post?template=event&tags=event,<%= events.first %>">Post an event</a></p>
  </div>
<% end %>
