<div class="span3">

  <% if params[:controller] != "home" && params[:action] != "home" %>
    <%= render :partial => "sidebar/post_button" %>
  <% end %>

  <%= feature('sidebar-feature') %>

</div><!--/span-->
