<div class="span3">
  <%= render :partial => "sidebar/post_button" %>

  <hr />
  <div class="sidebar-nav hidden-phone">

    <p><i class="icon icon-envelope"></i> <a href="/wiki/mailing-lists">Mailing lists &raquo;</a></p>
    <p>Much of our work happens on our mailing lists, which are organized by region and topic. Join one today to get involved.</p>
    <hr />
    <p><a href="http://spectralchallenge.org"><img src="/images/spectralchallenge.jpg" width="100%" /></a></p>

    <hr />

    <iframe class="shopify-widget" frameborder="0" scrolling="no" width="100%" height="390" src="http://widgets.shopifyapps.com/products/desktop-spectrometry-kit?shop=publiclab.myshopify.com&style=artgallery&image-size=medium&destination=checkout"></iframe>
    <iframe class="shopify-widget" frameborder="0" scrolling="no" width="100%" height="390" src="http://widgets.shopifyapps.com/products/balloon-mapping-kit?shop=publiclab.myshopify.com&style=artgallery&image-size=medium&destination=checkout"></iframe>


    <hr style="margin-bottom:6px;" />
    <p><small><a href="#"><i class="icon-cog"></i> Options</a></small></p>
  </div>
</div><!--/span-->
