<div class="col-md-3">

  <% if params[:controller] != "home" && params[:action] != "home" %>
    <%= render :partial => "sidebar/post_button" %>
  <% end %>

  <% cache('feature_sidebar-feature') do %>
    <%= feature('sidebar-feature') %>
  <% end %>

</div>
