<div class="span3">

  <% if params[:controller] != "home" && params[:action] != "home" %>
    <%= render :partial => "sidebar/post_button" %>
  <% end %>

  <div class="sidebar-nav hidden-phone">

    <!--
<div style="display:none;border:1px solid #ccc;border-width:1px 0;background:#eee;padding:6px 10px;margin:0 0 20px 0;background-image: linear-gradient(to bottom, #f6f6f6, #e6e6e6);background-repeat: repeat-x;">
      <h3 style="margin-bottom:0;">Public Lab is hiring!</h3>
      <p>Join the non-profit team: <a href="/wiki/public-lab-jobs">Learn more &raquo;</a></p>
    </div>

    
    <p class="hidden-phone"><a href="/wiki/barnraising-northeast-2014"><img src="http://i.publiclab.org/system/images/photos/000/004/452/medium/barnraising-ne-2014.jpg" width="100%" /></a></p>
    <p class="visible-phone" style="margin-bottom:6px;"><a href="/wiki/barnraising-northeast-2014"><img src="http://i.publiclab.org/system/images/photos/000/004/453/medium/barnraising-ne-2014-narrow.jpg" width="100%" /></a></p>
-->

  <p><a href="/wiki/barnraising"><img class="img img-rounded" src="http://i.publiclab.org/system/images/photos/000/006/113/original/barnraising-2014-banner-3.jpg" width="100%" /></a></p>
  <style>
    .sidebox { background:white;border-color:#eee; }
  </style>
    <!--
  <div class="well sidebox">
    <a class="hidden-phone" href="/wiki/openhour"><img src="http://i.publiclab.org/system/images/photos/000/004/913/original/icon-openhour.jpg" width="100%" /></a>
    <h4><a href="/wiki/openhour">Join us for <i>Open Hour</i> &raquo;</a></h4>
    <p style="margin-bottom:0;">A weekly open call at 8pm ET</p>
  </div>
-->

    <% if params[:controller] != "home" && params[:action] != "home" %>
      <p><i class="icon icon-envelope"></i> <a href="/lists">Discussion lists &raquo;</a></p>
      <p>Much of our work happens on our discussion lists, which are organized by region and topic. Join one today to get involved.</p>
      <hr />
    <% end %>

    <!--<p><a href="/wiki/barnraising-2013"><img src="/images/barnraising-2013.png" width="100%" /></a></p>-->
    <!--<p><a href="http://spectralchallenge.org"><img src="/images/spectralchallenge.jpg" width="100%" /></a></p>-->
    <p><a href="/donate"><img src="/images/sidebar-donate.gif" width="100%" /></a></p>

    <div id="store-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
     
        <div class="item active"><a href="http://store.publiclab.org"><img src="http://i.publiclab.org/system/images/photos/000/006/456/original/back-to-school-sale-3.png"/></a></div>
     
        <div class="item"><a href="http://store.publiclab.org/products/desktop-spectrometry-kit"><img src="/images/dsk.jpg"/></a></div>
        <div class="item"><a href="http://store.publiclab.org/products/balloon-mapping-kit"><img src="/images/balloon-kit.jpg"/></a></div>
        <div class="item"><a href="http://store.publiclab.org/products/smartphone-spectrometer"><img src="/images/smart-spec.jpg"/></a></div>

      </div>
    </div>
    <script>
      (setTimeout(function() {
        $('#store-carousel').carousel({
          interval: 6000
        })
      },2000))()
    </script>

    <hr style="margin-bottom:6px;" />
    <p style="display:none;"><small><a href="#"><i class="icon-cog"></i> Options</a></small></p>
  </div>
</div><!--/span-->
