<div class="col-lg-3 d-print-none">

  <a style="margin-top:-16px;margin-bottom:0;" class="btn btn-sm btn-block btn-link d-lg-none" href="javascript:void()" onClick="toggle_sidebar()"><i class="fa fa-chevron-down"></i></a>

  <div id="sidebar" class="d-none d-lg-block">

    <% if params[:controller] != "home" && params[:action] != "home" %>
      <%= render :partial => "sidebar/post_button" %>
    <% end %>

    <% cache('feature_sidebar-feature', skip_digest: true) do %>
      <%= feature('sidebar-feature') %>
    <% end %>


  </div>

  <div id=sidebar-tags>
    <% if @node %>
      <%= render partial: 'tag/tagging' %>
    <% end %>
  </div>
  
</div>
<%= javascript_include_tag 'sidebar' %>
