<!--
  <div class="feature">
    <h3>Public Lab is hiring!</h3>
    <p>Join the non-profit team: <a href="/wiki/public-lab-jobs">Learn more &raquo;</a></p>
  </div>

  <a class="feature img inverted" href="/wiki/barnraising-northeast-2014" style="background-image:url('/images/test.jpg')">
    <h3>OpenHour</h3>
    <p>Join Public Lab community members this Monday &raquo;</p>
  </a>
-->
<!--
  <a class="feature img inverted" href="/wiki/openhour" style="background-image:url('http://i.publiclab.org/system/images/photos/000/008/174/large/20141118_193851.jpg')">
    <h1 style="font-family:Junction;">OpenHour</h1>
    <p style="padding-top:16px;">Join Public Lab community members for a monthly call &raquo;</p>
  </a>
-->
  <a class="feature img" href="/wiki/public-lab-jobs">
    <h1 style="font-family:Junction Light;color:#555;padding-top:8px;margin-bottom:0;">Job Postings</h1>
    <p style="padding-top:16px;">Join the Public Lab staff &raquo;</p>
  </a>
