<% unless @place.nil? %>
  <br />
  <div class='well'>
  <form>
    <label>Join the local mailing list:</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="span11" type="text" />
    </div>
    <button type="submit" class="btn btn-primary btn-small">Subscribe</button>
  </form>

  <hr />

  <h4>Recent discussion topics</h4>
  <ul class="nav bullet">
    <li><a href="#"><i class="icon-comment"></i> Using infrared cameras</a></li>
    <li><a href="#"><i class="icon-comment"></i> Question about water levels</a></li>
    <li><a href="#"><i class="icon-comment"></i> New to the list</a></li>
    <li><a href="#"><i class="icon-comment"></i> help with camera</a></li>
  </ul>

  <h4>Local events</h4>
  <ul class="nav bullet">
    <li><a href="#"><i class="icon-calendar"></i> LEAFFEST</a></li>
    <li><a href="#"><i class="icon-calendar"></i> Tidmarsh Farms meetup</a></li>
  </ul>

  </div>
<% end %>
