<a style="margin-bottom:6px;" rel="tooltip" title="Share your work with others" data-placement="bottom" href="/post" class="btn btn-primary btn-large btn-block hidden-phone"><i class="icon-pencil icon-white"></i> Post research</a>
<div class="btn-group visible-phone" style="margin-bottom:6px;">
  <a rel="tooltip" title="Share your work with others" data-placement="bottom" href="/post" class="btn btn-primary btn-large"><i class="icon-pencil icon-white"></i> Post research</a>
  <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>

  <ul class="dropdown-menu">
    <li><a href="/post"><i class="icon icon-pencil"></i> <b>Post a research note</b></a></li>
    <li><a href="/wiki/new"><i class="icon icon-book"></i> Create a wiki page</a></li>
    <li class="divider"></li>
    <li><a href="/wiki/about-posting" class="hidden-desktop"><i class="icon icon-question-sign"></i> About posting</a></li>
    <% if current_user && (current_user.role == "moderator" || current_user.role == "admin") %>
      <li><a href="/spam"><i class="icon-ban-circle"></i> Moderate spam</a></li>
    <% end %>
  </ul>

</div>

<a style="margin-bottom:6px;" rel="tooltip" title="Collaborative pages others can edit" data-placement="bottom" href="/wiki/new" class="btn btn-block hidden-phone"><i class="icon-book"></i> Create wiki page</a>
<% if current_user && (current_user.role == "moderator" || current_user.role == "admin") %>
  <a style="clear:left;" rel="tooltip" title="You have permission to moderate spam messages" data-placement="bottom" href="/spam" class="btn btn-block hidden-phone"><i class="icon-ban-circle"></i> Moderate spam</a>
<% end %>
