<div class="col-md-3">

  <%= render :partial => "sidebar/post_button" %>

  <%= feature('sidebar-feature') %>

  <div class="hidden-sm">
    <p><i class="fa fa-envelope"></i> <a href="/lists">Discussion lists &raquo;</a></p>
    <p>Much of our work happens on our regional and topical discussion lists. <a href="/lists">Join one today!</a></p>
    <!--<p><a href="/wiki/barnraising-2013"><img src="/images/barnraising-2013.png" width="100%" /></a></p>-->
    <hr />
  </div>

  <%= render partial: 'sidebar/wikis', locals: { wikis: @wikis, title: "Recent wiki edits", node: @node } %>

</div>
