<div class="col-lg-3">

  <%= render :partial => "sidebar/post_button" %>
  
  <% if params[:controller] != 'questions' %>
    <%= feature('sidebar-feature') %>
  <% end %>

  <hr/>

  <%= render partial: 'sidebar/wikis', locals: { wikis: @wikis, title: I18n.t('sidebar._user.recent_wiki_edits'), node: @node } %>

</div>
