<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>space</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>d</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>Z</string>
		<string>D</string>
		<string>A</string>
		<string>B</string>
		<string>G</string>
		<string>underscore</string>
		<string>C</string>
		<string>asciicircum</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>O</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>T</string>
		<string>Q</string>
		<string>P</string>
		<string>R</string>
		<string>S</string>
		<string>U</string>
		<string>braceleft</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>nine</string>
		<string>eight</string>
		<string>ampersand</string>
		<string>grave</string>
		<string>dollar</string>
		<string>braceright</string>
		<string>bar</string>
		<string>at</string>
		<string>slash</string>
		<string>exclam</string>
		<string>parenleft</string>
		<string>backslash</string>
		<string>parenright</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>asciitilde</string>
		<string>quotesingle</string>
		<string>plus</string>
		<string>bracketright</string>
		<string>percent</string>
		<string>equal</string>
		<string>bracketleft</string>
		<string>numbersign</string>
		<string>less</string>
		<string>greater</string>
		<string>asterisk</string>
		<string>emdash</string>
		<string>minus</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>_4</string>
		<string>_5</string>
		<string>_6</string>
		<string>_7</string>
		<string>_8</string>
		<string>_9</string>
		<string>_11</string>
		<string>_12</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>questiondown</string>
		<string>exclamdown</string>
		<string>dieresis</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>trademark</string>
		<string>ellipsis</string>
		<string>fi</string>
		<string>tilde</string>
		<string>bullet</string>
		<string>copyright</string>
		<string>registered</string>
		<string>cent</string>
		<string>caron</string>
		<string>idieresis</string>
		<string>adieresis</string>
		<string>Adieresis</string>
		<string>Udieresis</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>ydieresis</string>
		<string>Ydieresis</string>
		<string>Edieresis</string>
		<string>Idieresis</string>
		<string>Odieresis</string>
		<string>dotlessi</string>
		<string>acircumflex</string>
		<string>ecircumflex</string>
		<string>icircumflex</string>
		<string>ocircumflex</string>
		<string>ucircumflex</string>
		<string>Acircumflex</string>
		<string>Ecircumflex</string>
		<string>Icircumflex</string>
		<string>Ocircumflex</string>
		<string>Ucircumflex</string>
		<string>Ntilde</string>
		<string>atilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>Atilde</string>
		<string>Otilde</string>
		<string>eacute</string>
		<string>Eacute</string>
		<string>egrave</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>edieresis</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>oacute</string>
		<string>ograve</string>
		<string>uacute</string>
		<string>ugrave</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Egrave</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Uacute</string>
		<string>Ugrave</string>
	</array>
</dict>
</plist>
