<button aria-label="More settings" type="button" class="btn btn-outline-secondary dropdown-toggle" id="pt-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#ccc;">
  <i class="fa fa-cog"></i>
</button>
<div class="dropdown-menu dropdown-menu-right float-right" style="margin-top:5px;" id="pt-list">
  <% if current_user %>
    <p class="dropdown-header"><b>Recently used tags</b></p>
    <% NodeTag.includes(:tag).where(uid: current_user.id).order('date DESC').limit(5).each do |tag| %>
      <a class="dropdown-item" onClick="addTag('<%= tag.name %>')"><span style="cursor:pointer;" class="badge badge-primary"><%= tag.name %></span></a>
    <% end %>
  <% end %>
  <div class="dropdown-divider"></div>
  <% if @node && @node.type == "page" %>
    <a class="dropdown-item" href="#" data-value="parent:">Link to a "parent" page (wikis only)</a>
    <a class="dropdown-item" href="#" data-value="style:">Add style</a>
    <a class="dropdown-item" href="#" data-value="lang:">Add Translation widget</a>
  <% else %>
    <a class="dropdown-item" href="#" data-value="seeks:photos">Request response photos</a>
    <a class="dropdown-item" href="#" data-value="hidden:response">Hide responses from dashboard</a>
    <a class="dropdown-item" href="#" data-value="with:">Add Coauthor (notes only)</a>
    <a class="dropdown-item" href="#" data-value="series:">Mark as part of a series</a>
    <a class="dropdown-item" href="#" data-value="comment-template:">Add template to the comment form</a>
    <a class="dropdown-item" target="_blank" href="/wiki/comment-templates">Write a template for the comment form</a>
  <% end %>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="https://publiclab.org/power-tags" target="_blank">Learn About Powertags</a>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    $( "#pt-list > li " ).each(function() {
      $( this ).click(function(event){
        var val = $(event.target).attr('data-value');
        promptTag(val);
      });
    });

  });

</script>
