<button type="button" class="btn btn-default dropdown-toggle" id="pt-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
<ul class="dropdown-menu" id="pt-list">
  <li class="dropdown-header">Recently used tags</li>
  <li><a href="#" data-value="style:">Style</a></li>
  <li><a href="#"  data-value="with:">Add Coauthor</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="https://publiclab.org/wiki/power-tags" target="_blank">Learn About Powertags</a></li>
</ul>

<script type="text/javascript">

  $(document).ready(function(){

    $( "#pt-list > li " ).each(function() {
        $( this ).click(function(event){

          var val = $(event.target).attr('data-value');

          switch(val){

            case "style:":
              var input = prompt("What kind of style? (minimal, fancy, presentation, wide, nobanner)", "Style");
              if (input != null) {
                addTag(val + input);}
              break;

            case "with:":
              var input = prompt("Who would you like to add as a coauthor?", "Username");
              if (input != null) {
                addTag(val + input);}
              break;

          }

        });
    });
  });

</script>
