<div id="chart"> </div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

var values = <%= tag_graphs.values.collect { |ind| ind[1] } %>
var months = <%= tag_graphs.values.collect { |ind| ind[0] } %>
var dates = months.map(x=> new Date(x).getTime());
series = [];
for (var i=0; i<dates.length && i<values.length; i++)
    series[i] = [dates[i], [values[i]]];

var options = {
    colors: ['#00E396'],
    chart: {
        type: 'area',
        height: 500,

    },
    stroke: {
        curve: 'smooth',

    },
    dataLabels: {
        enabled: false,

    },
    series: [{
        name: 'tags',
        data: series,

    }],
    title: {
        text: "Stats for the last year",
        align: 'left',
    },

    xaxis: {
        type: "datetime",
        axisBorder: {
            show: false

        },
        axisTicks: {
            show: false

        }

    },
    yaxis: {
        opposite: true,
        labels: {
            offsetX: 24,
            offsetY: -5
        },
        tooltip: {
            enabled: true

        }
    },

    grid: {
        padding: {
            left: -5,
            right: 5

        }

    },
    tooltip: {
        x: {
            format: "dd MMM yyyy"

        },

    },
    legend: {
        position: 'top',
        horizontalAlign: 'left'

    },
    fill: {
        type: "solid",
        fillOpacity: 0.7

    }

}

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
</script>
