<br />
<div class="blurred-location-container" style="position:absolute;top:0;left:0;"></div>

<script>
  jQuery(document).ready(function() {
    $('.blurred-location-input').click(function createBlurredLocationInput() {
      $.ajax('/locations/modal')
       .done(function(response) {
         $('.blurred-location-container').html(response);
         $('.modal').on('shown.bs.modal', function () { blurredLocation.map.invalidateSize(); });
         $('.modal').modal();
       });
    });
  });
</script>
