<div class="row">
  <ul class= "list-inline col-md-10">
    <li><strong>Related Tags:</strong></li>
    <% tags.each do |tag| %>
        <li><a href='/tag/<%= tag.name %>' id="tag_<%= tag.tid %>" class="label <%= tag.name.include?(":") ? 'label-primary' : 'label-default' %>">
          <%= tag.name %>
        </a></li>
    <% end %>
  </ul>
</div>
