<h2>Related Tags</h2>
<ul class= "list-inline">
  <% tags.each do |tag| %>
      <li><a href='/tag/<%= tag.name %>' id="tag_<%= tag.tid %>" class="label <%= tag.name.include?(":") ? 'label-primary' : 'label-default' %>">
        <%= tag.name %>
      </a></li>
  <% end %>
</ul>
