<div>
<h4>Filter questions by topic</h4>
<p>Refine questions by entering tags to search or answer questions on specific topics.</p>

<form id="tagform" class="form" method="GET" action="/questions/tag/">
  <div class="control-group">
    <input autocomplete="off" id="taginput" name="id" type="text" placeholder="water-quality,dust" data-provide="typeahead" class="form-control" />
    <script>
      jQuery(document).ready(function() {
 
        $('#taginput').typeahead({
          items: 8,
          minLength: 3,
          source: function (query, process) {
            return $.post('/tag/suggested/' + query, {}, function (data) {
              return process(data)
            })
          },
          updater: function(text) { 
            $('#taginput').val(text)
            window.location = "/questions/tag/" + text;
          }
        });

        $('#tagform').submit(function(e) {
          e.preventDefault();
          window.location = "/questions/tag/" + $('#taginput').val();
        });

      });
    </script>
  </div>
</form>
</div>
