<!-- This button is used to display tags in a popover and subscribe to multiple tags using a single button -->
<a class="btn btn-primary btn-xs sub" rel="popover" data-container="body" data-placement="bottom" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-body"><%= render partial: 'tag/tags_popover', locals: {tags: tags} %></div></div>' data-html="true" data-content="sample" > <i class="fa fa-plus fa-white"></i> Subscribe>> </a>
<style>
  .sub{
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px;
  }

</style>