<!-- This button is used to display tags in a popover and subscribe to multiple tags using a single button -->
<a id="popover_button" class="btn btn-primary btn-sm sub" style="color:white;">Subscribe
  <i class="fa fa-plus" style="color:white;"></i>
</a>

<div id="mypopcontent" class="d-none" onmouseleave="show(this)">
  <%= render partial: "tag/tags_popover", locals: {tags: tags} %>
</div>

<style>
  .sub{
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px;
  }
</style>

<script type="text/javascript">
  $('#popover_button').popover({
    content: $('#mypopcontent').clone().removeClass('d-none'),
    placement: 'bottom',
    html: true,
  });
  function show(elem){
  $('#popover_button').popover("hide")
  }
</script>
