<!-- This button is used to display tags in a popover and subscribe to multiple tags using a single button -->
<a id="popover_button" class="btn btn-default btn-xs sub requireLogin" > Subscribe <i class="fa fa-plus"></i> </a>

<div id="mypopcontent" class="hidden">
	<%= render partial: "tag/tags_popover", locals: {tags: tags} %>
</div>

<div id="current_user_value" class="hidden">
  <%= current_user ? "true" : "false" %>
</div>

<style>
  .sub{
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px;
  }
</style>

<script type="text/javascript">
  var x = document.getElementById('current_user_value');
  if (x.textContent.trim()=="true") {
    $('#popover_button').popover({
    	content: $('#mypopcontent').clone().removeClass('hidden'),
    	placement: 'bottom',
    	html: true,

    });
  }
</script>
