<form id="tagform" class="form-horizontal" method="GET" action="/tag/" autocomplete="off" style="width: 250px;">
  <div class="input-group">
    <input type="text" tabindex="1" id="taginput" name="id" placeholder="Search for topics" data-provide="typeahead" class="form-control" role="search" required="required" />
    <span class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
