<style>
#cytoscape {
  width: 100%;
  height: 800px;
  display: block;
}
</style>

<script src="/lib/cytoscape/dist/cytoscape.min.js" type="text/javascript"></script>

<div id="cytoscape"></div>

<script>
  var cy;

  (function() {

  $.ajax({
    url : '/tag/graph.json?limit=' + <%= params[:limit] || 250 %>,
    type: 'GET',
    success: function(response){
      setup_cytoscape(response);
    }
  });

  function parse_cyto_data(data) {
    var output = {
      nodes: [],
      edges: []
    }

    var tagnames = [];
    data['tags'].forEach(function(tag) {
      tagnames.push(tag.name);
      output.nodes.push({ data: { 
        id: tag.name,
        count: tag.count,
        href: '/tag/' + tag.name
      } });
    });
    data['edges'].forEach(function(edge) {
      if (tagnames.includes(edge.from) && tagnames.includes(edge.to)) {
        output.edges.push({
          data: {
            id: edge.from + "_" + edge.to,
            source: edge.from,
            target: edge.to
          }
        });
      }
    });
    return output;
  }

  function setup_cytoscape(data) {

    var data = parse_cyto_data(data);

    cy = cytoscape({
      container: document.getElementById('cytoscape'),
      elements: {
        nodes: data.nodes,
        edges: data.edges
      },

      layout: {
        name: 'cose',
        idealEdgeLength: 100,
        nodeOverlap: 20,
        refresh: 20,
        fit: true,
        padding: 30,
        randomize: false,
        componentSpacing: 100,
        nodeRepulsion: 400000,
        edgeElasticity: 100,
        nestingFactor: 5,
        gravity: 80,
        numIter: 1000,
        initialTemp: 200,
        coolingFactor: 0.95,
        minTemp: 1.0
      },


      style: [
        {
          selector: 'node',
          style: {
            //'width': 'data(count)',
            //'height': 'data(count)',
            'width': 'mapData(count, 1, 100, 10, 500)',
            'height': 'mapData(count, 1, 100, 10, 500)',
            'background-color': '#f8a',
            'label': 'data(id)',
            'text-valign': 'center',
            'color': 'white',
            'text-outline-width': 2,
            'text-outline-color': '#c58'
          }
        },

        {
          selector: 'edge',
          style: {
            'curve-style': 'haystack',
            'haystack-radius': 0,
            'width': 3,
            'opacity': 0.666,
            'line-color': '#ccc'
          }
        }
      ]

    });

    cy.on('tap', 'node', function(){
      try { // your browser may block popups
        window.open( this.data('href') );
      } catch(e){ // fall back on url change
        window.location.href = this.data('href');
      }
    });

  }

})();

</script>
