<h1 style="width: 100vw">Topic Tree</h1>
<br>


<div id="accordion">
<div class="list-group">
  <details>
    <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Water</summary>
    <div class="list-group">
      <a href="/drinking-water" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;drinking-water</a>
      <a href="/fracking" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;fracking</a>
      <a href="/microplastics" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;microplastics</a>
      <a href="/lead" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;lead</a>
      <a href="/mining" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;mining</a>
      <a href="/agriculture" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;agriculture</a>
      <a href="/oil-and-gas" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;oil-and-gas</a>
      <a href="/filters" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;filters</a>
      <a href="/wastewater" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;wastewater</a>
    </div>
  </details>


<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Soil</summary>
  <div class="list-group">
    <a href="/lead" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;lead</a>
    <a href="/mining" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;mining</a>
    <a href="/agriculture" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;agriculture</a>
    <a href="/oil-and-gas" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;oil-and-gas</a>
  </div>
</details>


<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Air</summary>
  <div class="list-group">
    <a href="/indoor-air" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;indoor-air</a>
    <a href="/formaldehyde" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;formaldehyde</a>
    <a href="/dust" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;dust</a>
    <a href="/particulate-matter" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;particulate-matter</a>
    <a href="/oil-and-gas" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;oil-and-gas</a>
    <a href="/transportation" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;transportation</a>
    <a href="/filters" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;filters</a>
  </div>
</details>

<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Industry</summary>
  <div class="list-group">
    <a href="/land-use" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;land-use</a>
    <a href="/land-change" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;land-change</a>
    <a href="/particulate-matter" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;particulate-matter</a>
    <a href="/oil-and-gas" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;oil-and-gas</a>
    <a href="/transportation" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;transportation</a>
    <a href="/mining" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;mining</a>
    <a href="/agriculture" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;agriculture</a>
    <a href="/waste" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;waste</a>
    <a href="/noise" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;noise</a>
    <a href="/chemicals" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;chemicals</a>
    <a href="/pipeline-monitoring" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;pipeline-monitoring</a>
    <a href="/cafo" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;cafo</a>
  </div>
</details>

<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Climate</summary>
  <div class="list-group">
    <a href="/stormwater" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;stormwater</a>
    <a href="/land-change" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;land-change</a>
    <a href="/particulate-matter" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;particulate-matter</a>
    <a href="/oil-and-gas" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;oil-and-gas</a>
  </div>
</details>

<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Organizing</summary>
  <div class="list-group">
    <a href="/advocacy" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;advocacy</a>
    <a href="/community-organizing" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;community-organizing</a>
    <a href="/legal" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;legal</a>
    <a href="/public-comment" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;public-comment</a>
    <a href="/host-an-event" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;host-an-event</a>
  </div>
</details>

<details>
  <summary class="list-group-item list-group-item-action topic"><i class="fa fa-chevron-right" style="font-size: small;"></i>&nbsp;Monitoring</summary>
  <div class="list-group">
    <a href="/air-sensors" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;air-sensors</a>
    <a href="/water-sensors" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;water-sensors</a>
    <a href="/balloon-mapping" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;balloon-mapping</a>
    <a href="/study-design" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;study-design</a>
    <a href="/methods" class="list-group-item list-group-item-action">&emsp;<i class="fa fa-chevron-right icon"></i>&nbsp;other methods</a>
  </div>
</details>

</div>
</div>

<style>
  .topic{
    background-color: #F5F5F5
  }
  .icon{
    font-size: small;
  }
</style>