<%= stylesheet_link_tag "application", :media => "all" %>
<link href="/lib/fontawesome/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />

<style>
  body {
    padding-top: 0;
  }
  #notes {
    padding: 0;
  }
</style>

<% if @notes.nil? || @notes.length == 0 %>
  <p>No results found; try searching for '<b><%= params[:id] %></b>':</p>

  <%= render :partial => "search/search" %>

  <p>Or try an <a href="/search/advanced/">advanced search</a></p>
<% else %>
  <% @compact = true %>
  <% @widget = true %>
  <%= render :partial => "notes/notes" %>
<% end %>

