<%= stylesheet_link_tag "application", :media => "all" %>

<style>
  body {
    padding-top: 0;
  }
  #notes {
    padding: 0;
  }
</style>

<% if @notes.nil? || @notes.length == 0 %>

  <p><%= raw translation('tag.show.no_results_found', :tag => params[:id]) %>:</p>

  <%= render template: "search/new" %>

<% else %>

  <% @compact = true %>
  <% @widget = true %>
  <%= render :partial => "notes/notes" %>

<% end %>
