<div class="container">

  <h2><%= t('users.edit.edit_profile') %></h2>

  <hr />

  <%= render 'form' %>
  <div class="row" style="display:flex;">
      <div class="loginbutton" >
        <%= link_to "Link with Google", "/auth/google_oauth2", class: "btn btn-primary" %>
      </div>
  </div>

</div>
