<div class="container">

  <h2><%= t('users.edit.edit_profile') %></h2>

  <hr />

  <%= render 'form' %>
      <% if Rails.env == "production"%>
        <h5>Link to </h5>
        <div class="loginbutton" >
          <a href="/auth/google_oauth2" id="connect-google"><span class="btn btn-default"><i class="fa fa-google" style="font-size:20px;color:red"></i></span></a>




          <a href="https://publiclab.org/auth/twitter" id="connect-twitter"><span class="btn btn-default"><i class="fa fa-twitter" style="font-size:20px;color:blue;"></i></span></a>
      </div>
        </div>
      <% end %>
</div>
