<div class="container">

  <h2><%= t('users.edit.edit_profile') %></h2>

  <hr />

  <%= render 'form' %>
  <% if Rails.env == "production"%>
        <h5>Link to </h5>
        <div class="loginbutton" style="float:left">
          <a href="/auth/google_oauth2" id="connect-google"><span class="btn btn-default" style="margin-right:2px"><i class="fa fa-google" style="font-size:20px;color:red;"></i></span></a>
          <a href="/auth/github" id="connect-github"><span class="btn btn-default" style="margin-left:2px"><i class="fa fa-github" style="font-size:20px;color:green;"></i></span></a>


          <a href="/auth/facebook" id="connect-facebook"><span class="btn btn-default" style="margin-left:2px"><i class="fa fa-facebook" style="font-size:20px;color:blue;"></i></span></div></a>
        </div>
  <% end %>
</div>
