<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDWgc7p4WWFsO3y0MTe50vF4l4NUPcPuwE"></script>

<div class="container">
  <h2>Additonal Information</h2>

  <hr />

  <%= render 'tags_form', locals: { user: @user } %>
</div>
