<div class="span3">

<h3>What is Public Lab?</h3>

<p>The Public Laboratory for Open Technology and Science (Public Lab) is an open community which develops and applies open-source tools to environmental exploration and investigation. <a href="/about">Read more here</a></p> 

<p>By signing up, you will be joining a diverse group of community researchers and tapping into a lot of grassroots expertise. We're developing new tools to investigate and meet environmental and environmental health challenges, with an emphasis on:</p>

<ul>
  <li>low cost</li>
  <li>data legibility</li>
  <li>ease of use/low barrier to entry &amp; high public participation</li>
  <li>high quality, environmentally and socially relevant data</li>
  <li>creative reuse of consumer technology</li>
  <li>open source and user modifiable designs</li>
</ul>
</div>

<div class="span9">

  <h2>Sign up to join the Public Lab community</h2>

  <hr />

  <%= render 'form' %>

  <hr />

  <p><b>Licensing agreement:</b> As an open source community, we believe in open licensing of content so that other members of the community can leverage your work legally -- with attribution, of course. By joining the Public Lab site, <b>you agree to release the content you post here under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Sharealike license</a></b>, and the hardware designs you post under the <b><a href="http://www.ohwr.org/cernohl">CERN Open Hardware License 1.1</a> (<a href="http://www.ohwr.org/attachments/735/CERNOHLv1_1.txt">fulltext</a>)</b>. This has the added benefit that others must share their improvements in turn with you.</p>

  <br style="margin-bottom:20px;" />

</div>
