<h1>Start using the new Public Lab website</h1>

<p>Use your <a href="http://publiclaboratory.org">PublicLaboratory.org</a> username to log in. If you do not have one, <a href="http://publiclaboratory.org/user/register">click here to register on the main site &raquo;</a></p>

<%= render 'form' %>

