<div class="container">
  <% @users.each do |user| %>
    <div class="col-lg-3">
      <div style="text-align:center;">
        <img class="rounded-circle" id="profile-photo" style="width:50%;margin-bottom:20px;" src="<%= user.profile_image %>">
        <h3><%= user.username %></h3>
      </div>
    </div>
  <% end %>
</div>
