<% if @wiki %>
  <div id="wiki-content">
    <% if @wiki.main_image %>

      <div class="im">
        <div class="img-out1 d-none d-md-block" style="margin-bottom:10px;">
          <%= image_tag(@wiki.main_image.path,
                        class: "img-fluid d-none d-md-block",
                        id: "tag-wiki-header-image1") %>
        </div>
        <div class="img-out2" style="margin-bottom:10px;">
        <%= image_tag(@wiki.main_image.path,
                      class: "img-fluid d-sm-none",
                      id: "tag-wiki-header-image2") %>
        </div>
      </div>

    <% end %>

  </div>

<% end %>

<style>

  .container:not(#loginSignupContainer) > .container {
    min-width: 100%;
    margin-top: -21px;
    width: 100%;
    float: left;
  }

#tag-wiki-header-image1 {
  width:auto;
  z-index: 0;
  background-size:cover;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#tag-wiki-header-image2 {
  width: 100%;
  background-size:cover;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.line {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #777;
  transform: translate(-50%, -50%);
}

.im {
  position: relative;
  padding: 0px !important;
}

.img-out2 {
  width: 100%;
  height: auto;
  background-color: #333;
}

.img-out1 {
  width: 100%;
  height: 350px;
  background-color: #333;
}

#wiki-empty1 {
  width: 100%;
  height: 350px;
  background-color: #eee;
  margin-bottom:10px;
}

#wiki-content {
  padding: 0px !important;
  margin: -15px !important;
}

#wiki-empty2 {
  width: 100%;
  height: 390px;
  background-color: #eee;
  margin-bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.card .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #fff;
  overflow-x: hidden;
}
.card .bottom-right a {
  color: #fff;
}

@media (min-width: 576px) {
  .card .d-md-block {
    display: block !important;
  }
}
</style>
