<% unless @wildcard %>
<div class="container">
  <!-- Button to Open the Modal -->
  <p style="clear:both;padding-top:14px;">
    <a style="margin-bottom:6px; font:100px; color:white;"
       class="btn btn-primary post" data-toggle="modal" data-target="#myModal">
       Post <i class="fa fa-plus fa-1x" aria-hidden="true" style="color:white; "></i>
    </a>
  </p>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: #666;">Choose a template</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <br/>
        <!-- Modal body -->
        <div class="modal-body">

          <div class="post-con" style="text-align:center;">
          <a class = "requireLogin" style="color:#666;"
            href="/post?tags=question:<%= params[:id].gsub('question:', '') %>&template=question&redirect=question">
              Ask a question</a><br/>
            <i class="fa fa-question-circle-o fa-3x" aria-hidden="true" style="margin-top:15px;"></i>
          </div>

          <div class="post-con" style="margin-left:25px; text-align:center;">
          <a class="requireLogin" style="color:#666;"
             href="/post?tags=<%= params[:id].gsub('blog-submission:', '') %>">
              Share a story/project</a><br/>
            <i class="fa fa-asterisk fa-3x" aria-hidden="true" style="margin-top:15px;"></i>
          </div>

          <div class="post-con" style="margin-left:25px; text-align:center;">
          <a class="requireLogin" style="color:#666;"
             href="/post?tags=issue-brief:<%= params[:id].gsub('issue-brief:', '') %>">
              Describe an issue</a><br/>
            <i class="fa fa-building fa-3x" aria-hidden="true" style="margin-top:15px;"></i>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<% end %>
<style media="screen">

  .post{
    width: 150px;
    height: 40px;
  }

  .modal-content{
    height: 300px;
    padding: 10px;
  }

  .post-con{
    color: #666;
    border : 1px solid #666;
    border-radius: 4px;
    font-size: 20px;
    padding: 20px;
    width: 230px;
    height: 140px;
    float: left;
  }

</style>
