<!-- http://getbootstrap.com/javascript/#carousel -->

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
    <li data-target="#carousel" data-slide-to="4"></li>
    <li data-target="#carousel" data-slide-to="5"></li>
    <li data-target="#carousel" data-slide-to="6"></li>
    <li data-target="#carousel" data-slide-to="7"></li>
    <li data-target="#carousel" data-slide-to="8"></li>
    <li data-target="#carousel" data-slide-to="9"></li>
    <li data-target="#carousel" data-slide-to="10"></li>
    <li data-target="#carousel" data-slide-to="11"></li>
    <li data-target="#carousel" data-slide-to="12"></li>
    <li data-target="#carousel" data-slide-to="13"></li>
    <li data-target="#carousel" data-slide-to="14"></li>
  </ol>
  <p class="pull-right"><i>mouse over to pause</i></p>

  <!-- Wrapper for slides -->
  <style>
  .carousel .item img { width: 100% }
  </style>
  <div class="carousel-inner">

    <div class="item active">
      <iframe width="100%" height="360" src="http://www.youtube.com/embed/cJjz7ULFtv8?list=PL2248679264CB236C" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/421/large/barnraising-handraising.JPG" alt="2013 Barnraising">
      <div class="carousel-caption">
        <h2>Public Lab's 2013 Barnraising</h2>
        <p>October: 50 Public Lab members from around the world spent 4 days <a href="/notes/Shannon/10-23-2013/public-lab-focuses-on-open-science-education-at-2013-barnraising">working together at the 2013 Barnraising in New Orleans</a> focusing on education, from curriculum development to field methods.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/000/427/large/8742168630_279f662a1f_o.jpg" alt="Coal terminal monitoring">
      <div class="carousel-caption">
        <h2>Kite Photos reveal coal dumping in the Mississippi River</h2>
        <p>May: GRN and Clean Gulf Commerce Coalition filed a notice of intent to sue United Bulk for Clean Water Act violations, based on <a href="/notes/eustatic/05-28-2013/kite-photos-of-ongoing-coal-pollution-in-plaquemines-parish-la">this crucial photo by Scott Eustis</a>.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/422/large/chalmette.jpg" alt="Chalmette flare monitoring">
      <div class="carousel-caption">
        <h2>Gulf coast Public Labbers test spectrometric flare monitoring in Chalmette, LA</h2>
        <p>October: the group is working to <a href="/wiki/refinery-watching">set up 24-hour monitoring of gas refineries</a>.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/424/large/Picture_2.png" alt="Nuclear waste monitoring">
      <div class="carousel-caption">
        <h2>Cape Cod Bay Watch monitors construction of a nuclear waste containment area</h2>
        <p>April: Advocating for tighter permitting, the kite photos <a href="/notes/karenv/5-1-2013/kite-mapping-near-pilgrim">demonstrated their ability to keep tabs on Entergy</a>.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/423/large/Picture_1.png" alt="Best of Kickstarter 2012" style="border-bottom:50px solid black;">
      <div class="carousel-caption">
        <h2>Public Lab listed in Best of Kickstarter 2012</h2>
        <p>January: <a href="http://www.kickstarter.com/year/2012#diy_mapping">Kickstarter honors the hundreds of mappers whose work has been republished in Google Maps and Earth.</a></p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/425/large/ndvi-fort-mason.jpg" alt="Fort Mason">
      <div class="carousel-caption">
        <h2>Mappers in the Northern California chapter measure plant health at Fort Mason</h2>
        <p>May:  Using <a href="/wiki/near-infrared-camera">infrared photography</a>, Public Labbers mapped photosynthetic activity at a community garden: <a href="/notes/patcoyle/5-6-2013/public-lab-norcal-meetup-fort-mason-san-francisco-ca-0">Read more &raquo;</a></p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/000/909/large/WarnerLkVis7344TrapaSH1800.jpg" alt="Invasive plant identification">
      <div class="carousel-caption">
        <h2>Mapping invasive species with DIY infrared cameras</h2>
        <p>July:  Using aerial infrared photography, New England members of <a href="http://pvos.org">PVOS</a> and Public Lab <a href="/notes/cfastie/07-23-2013/waterchestnut-big-picture">worked to identify invasive species in a lake near Amherst, MA</a></p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/429/large/juakali.png" alt="Juakali">
      <div class="carousel-caption">
        <h2>Ugandan activists use balloon photos to stall eviction</h2>
        <p>The Craft Market in Uganda used a balloon map to get a court injunction, <a href="/notes/mlamadrid/05-15-2013/tool-for-stalling-mapping">temporarily stalling the eviction</a>.</p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/000/276/medium/IMG_0511-split.png" alt="Infragram">
      <div class="carousel-caption">
        <h2>The Infragram project brings multispectral imagery to hundreds of new Public Lab members</h2>
        <p>July: 1,556 backers <a href="http://www.kickstarter.com/projects/publiclab/infragram-the-infrared-photography-project">pledged $71,373</a> to make DIY plant analysis photography affordable.</p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/000/436/large/LizBklnNRG.jpg" alt="Infragramming in New York">
      <div class="carousel-caption">
        <h2>Early Infragram cameras hit the streets</h2>
        <p>September: <a href="http://store.publiclab.org/collections/diy-infrared-photography">Infragram DIY Filter Packs</a> begin shipping, enabling over a thousand DIY scientists to begin analyzing plant health.</p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/427/original/smartphone_1024x1024.jpg" alt="Smartphone spectrometer">
      <div class="carousel-caption">
        <h2>Public Lab distributed over 3,000 DIY chemical detecting spectrometers</h2>
        <p>Get one yourself at <a href="http://store.publiclab.org/collections/spectrometry">the Public Lab store</a></p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/426/large/spectral-wb.png" alt="SpectralWorkbench" style="border-bottom:180px solid white;">
      <div class="carousel-caption">
        <h2>Over 2000 contributors build their own spectrometer and open sourced their data</h2>
        <p>Learn more about what they're doing with them at <a href="http://spectralworkbench.org">SpectralWorkbench.org</a></p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/428/original/maps.png" alt="Public Lab Archive">
      <div class="carousel-caption">
        <h2>236,946 people from 210 countries visited PublicLab.org</h2>
        <p>250 DIY aerial maps were <a href="/archive">published in the Public Lab Archive</a> (pictured above), and over 1700 people have <a href="/lists">joined our main discussion list</a>. </p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/431/original/irs-bfc-2.jpg" alt="501c3 status">
      <div class="carousel-caption">
        <h2>Public Lab receives 501c3 non-profit status; wins honorable mention from Buckminster Fuller Challenge</h2>
        <p>Read more about the <a href="/notes/Becki/11-03-2013/public-lab-named-honorable-mention-in-2013-buckminster-fuller-challenge">Buckminster Fuller Challenge</a> or make a <a href="/donate">tax-deductible (in the US) contribution today</a>.</p>
      </div>
    </div>

   <div class="item">
      <img src="http://i.publiclab.org/system/images/photos/000/002/430/original/david-square.jpg" alt="Davis Square, Somerville">
      <div class="carousel-caption">
        <h2>Thank you all for a wonderful and incredibly productive year!</h2>
        <p>Share this slideshow with your friends using this link: <input class="input input-inline" type="text" onClick="this.focus();this.select();" value="http://publiclab.org/wiki/2013-slideshow"></p>
        <br />
        <div id="social">
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
          <a style="padding-left:3px;" href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <br />
      </div>
    </div>

<!-- https://docs.google.com/document/d/17VerUYk_jBAm57X6olDZ0Dvk4uf-XsgFYFxWl4ci1dM/edit -->

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left">&lsaquo;</span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">&rsaquo;</span>
  </a>
</div>

<script>
  jQuery(document).ready(function($) {
    $('.carousel').carousel({
      interval: 6000
    })
  })
</script>

