<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-small" onClick="$E.bold()"><i class="icon-bold"></i></a>
    <a class="btn btn-small" onClick="$E.italic()"><i class="icon-italic"></i></a>
    <a class="btn btn-small" onClick="$E.h2()">Header</a>
  </div>
  <div class="btn-group">
    <a rel="tooltip" title="Make a link" class="btn btn-small" href="javascript:void(0)" onClick="$E.link()"><i class="icon-globe"></i></a>
    <a rel="tooltip" title="Place an image" class="btn btn-small" href="javascript:void(0)" onClick="$E.image()" data-><i class="icon-picture"></i></a>
  </div>
  <div class="btn-group">
    <a class="btn btn-small btn-info" href="#"><i class="icon-question-sign icon-white"></i> Help</a>
  </div>
</div>

<textarea tabindex="2" name="body" class="span9" id="text-input" oninput="this.editor.update()"
          rows="8" cols="60">##What I want to do

##My attempt and results

##Questions and next steps</textarea>
<div class="well span9" id="preview" style="display:none;"> </div>
<br style="clear:both;"/>

<script src="/assets/js/markdown.js"></script>
<script>
  (function() { 
    $E.initialize({
    })
  })()

  function Editor(input, preview)
  {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    }
    input.editor = this;
    this.update();
  }
  var $M = function (id) { return document.getElementById(id); };
  new Editor($M("text-input"), $M("preview"));
</script>
