<div class="span3">
  <div class="btn-group" style="margin-bottom:6px;">
    <a rel="tooltip" title="Share your work with others" data-placement="bottom" href="#post" class="btn btn-primary btn-large" data-toggle="modal"><i class="icon-pencil icon-white"></i> Post research</a>
    <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/post"><i class="icon icon-pencil"></i> <b>Post a research note</b></a></li>
      <li class="divider"></li>
      <li><a href="/wiki/about-posting"><i class="icon icon-question-mark"></i> About posting</a></li>
    </ul>
  </div>
  <%= render :partial => 'home/post_modal' %>
  <a rel="tooltip" title="Collaborative pages others can edit" data-placement="bottom" href="/post" class="btn"><i class="icon-book"></i> Create wiki page</a>
  <hr />
  <div class="sidebar-nav hidden-phone">

    <ul class="nav nav-list">
      <li><a href="/wiki/mailing-lists">Regional/topical mailing lists</a></li>
      <li class="nav-header">Places</li>
      <li><a href="/tag/gulf-coast">Gulf Coast</a></li>
      <li><a href="/tag/new-york-city">New York</a></li>
      <li><a href="/tag/norcal">Norcal</a></li>
      <li><a href="/tag/boston">Boston</a></li>
      <li><a href="/tag/southeast">Southeast</a></li>
      <li><a href="/tag/providence">Providence</a></li>
      <li><a href="/tag/vermont">Vermont</a></li>
      <li><a href="#">more...</a></li>
      <li class="nav-header">Tools</li>
      <li><a href="/tag/balloon-mapping">Balloon mapping</a></li>
      <li><a href="/tag/near-infrared-camera">Near-infrared photography</a></li>
      <li><a href="/tag/thermal-flashlight">Thermal flashlight</a></li>
      <li><a href="/tag/spectrometer">Spectrometry</a></li>
      <li><a href="/tag/hydrogen-sulfide-detection">Hydrogen sulfide detection</a></li>
      <li><a href="/tag/air-column-monitor">Air column monitor</a></li>
      <li><a href="#">more...</a></li>
    </ul>
    <hr style="margin-bottom:6px;" />
    <p><small><a href="#"><i class="icon-cog"></i> Options</a></small></p>
  </div>
</div><!--/span-->
