<div class="span3">
  <div class="btn-group" style="margin-bottom:6px;">
    <a rel="tooltip" title="Share your work with others" data-placement="bottom" href="#post" class="btn btn-primary btn-large" data-toggle="modal"><i class="icon-pencil icon-white"></i> Post research</a>
    <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/post"><i class="icon icon-pencil"></i> <b>Post a research note</b></a></li>
      <li class="divider"></li>
      <li><a href="/wiki/about-posting"><i class="icon icon-question-mark"></i> About posting</a></li>
    </ul>
  </div>
  <%= render :partial => 'home/post_modal' %>
  <a rel="tooltip" title="Collaborative pages others can edit" data-placement="bottom" href="/post" class="btn"><i class="icon-book"></i> Create wiki page</a>
  <hr />
  <div class="sidebar-nav hidden-phone">

    <p><i class="icon icon-envelope"></i> <a href="/wiki/mailing-lists">Mailing lists &raquo;</a></p>
    <p>Much of our work happens on our mailing lists, which are organized by region and topic. Join one today to get involved.</p>

    <hr />
    <p><a href="http://spectralchallenge.org"><img src="/images/spectralchallenge.jpg" /></a></p>

    <hr />

    <iframe class="shopify-widget" frameborder="0" scrolling="no" width="100%" height="390" src="http://widgets.shopifyapps.com/products/desktop-spectrometry-kit?shop=publiclab.myshopify.com&style=artgallery&image-size=medium&destination=checkout"></iframe>
    <iframe class="shopify-widget" frameborder="0" scrolling="no" width="100%" height="390" src="http://widgets.shopifyapps.com/products/balloon-mapping-kit?shop=publiclab.myshopify.com&style=artgallery&image-size=medium&destination=checkout"></iframe>


    <hr style="margin-bottom:6px;" />
    <p><small><a href="#"><i class="icon-cog"></i> Options</a></small></p>
  </div>
</div><!--/span-->
