<div class="span3">
  <a style="margin-bottom:6px;" href="/post" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post research &raquo;</a>
  <a href="/post" class="btn btn-block"><i class="icon-file"></i> Create wiki page &raquo;</a>
  <hr />
  <div class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
      <li class="nav-header">Places</li>
      <li><a href="/tag/gulf-coast">Gulf Coast</a></li>
      <li><a href="/tag/new-york-city">New York</a></li>
      <li><a href="/tag/norcal">Norcal</a></li>
      <li><a href="/tag/boston">Boston</a></li>
      <li><a href="/tag/southeast">Southeast</a></li>
      <li><a href="/tag/providence">Providence</a></li>
      <li><a href="/tag/vermont">Vermont</a></li>
      <li><a href="#">more...</a></li>
      <li class="nav-header">Tools</li>
      <li><a href="/tag/balloon-mapping">Balloon mapping</a></li>
      <li><a href="/tag/near-infrared-camera">Near-infrared photography</a></li>
      <li><a href="/tag/thermal-flashlight">Thermal flashlight</a></li>
      <li><a href="/tag/spectrometer">Spectrometry</a></li>
      <li><a href="/tag/hydrogen-sulfide-detection">Hydrogen sulfide detection</a></li>
      <li><a href="/tag/air-column-monitor">Air column monitor</a></li>
      <li><a href="#">more...</a></li>
    </ul>
  <hr />
  </div><!--/.well -->
</div><!--/span-->
