<div class="span3">
  <a style="margin-bottom:6px;" href="/post" class="btn btn-primary btn-large btn-block"><i class="icon-pencil icon-white"></i> Post research &raquo;</a>
  <a href="/post" class="btn btn-block"><i class="icon-file"></i> Create wiki page &raquo;</a>
  <hr />
  <div class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
      <li class="nav-header">Tools</li>
      <li><a href="#">Balloon mapping</a></li>
      <li><a href="#">Near-infrared photography</a></li>
      <li><a href="#">Thermal flashlight</a></li>
      <li><a href="#">Spectrometry</a></li>
      <li class="nav-header">Places</li>
      <li><a href="#">Gulf Coast</a></li>
      <li><a href="#">New York</a></li>
      <li><a href="#">Norcal</a></li>
      <li><a href="#">Boston</a></li>
    </ul>
  <hr />
  </div><!--/.well -->
</div><!--/span-->
