<div id="social" style="clear:both;margin-top:10px;display:flex;">
  <% if Rails.env == "production" %>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="display:flex;margin-right:10px;" ></div>

    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
      	      if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-share-button" style="display:flex;margin-right:10px;"
    data-layout="button"
    data-size="small" data-mobile-iframe="true"><a target="_blank"
    href="https://www.facebook.com/sharer"
    class="fb-xfbml-parse-ignore">Share</a>
  </div>

    <div class="tweet"><a style="width: 60px;height: 20px;bottom: 7px;" href="https://twitter.com/share" class="twitter-share-button">Tweet</a></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <% end %>
</div>

<style>
.tweet{
  position: relative;
}
</style>
