<style>
/* media crap */
</style>

<div style="position:absolute;top:0;left:0;height:380px;overflow:hidden;">
  <img style="width:100%;" class="img img-rounded" src="http://i.publiclab.org/system/images/photos/000/005/433/original/barnraising-handraising.JPG" />
</div>

<div style="margin-top:320px;padding:2% 10%;">

<h1 style="font-family:Junction Light;letter-spacing:;line-height:0.7em;font-size:4em;margin-top:0;margin-bottom:20px;padding-top:0.3em;">Public Lab 
<small style="letter-spacing:100%;">is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms. <a href="/join">Join now &raquo;</a></small></h1>

<h3 style="text-align:center;color:#888;">
  <i class="icon icon-twitter"></i> 
  <i class="icon icon-facebook"></i> 
</h3>

<br />

<div class="row-fluid">

<div class="span4" style="border:1px solid #ccc;padding:10px 14px;height:125px;">
  <h3><a style="color:#444;" href="">An Atlas of Barataraia Bay &raquo;</a></h3>
  <p></p>
</div>
<div class="span4">
  <img class="img img-rounded" src="http://i.publiclab.org/system/images/photos/000/006/113/original/barnraising-2014-banner-3.jpg"/>
  <h3></h3>
  <p></p>
</div>
<div class="span4" style="border:1px solid #ccc;padding:10px 14px;height:125px;">
  <h3>Back to School Sale</h3>
  <p>Public Lab Kits Initiative  <a href="http://store.publiclab.org">Visit the store &raquo;</a></p>
</div>

</div>

<br />
<br />



<style>
  #bottom h1 {
    font-size:4em;
    line-height:1.2em;
  }
  #bottom h4 {
    color:#888;
    font-size:1.6em;
    line-height:1.2em;
  }
</style>

<div id="bottom">
<div class="row-fluid" style="padding:40px 0;">

  <div class="span4">
    <img style="width:300px;height:300px;margin-bottom:30px;" class="img img-circle" src="http://i.publiclab.org/system/images/photos/000/000/909/large/WarnerLkVis7344TrapaSH1800.jpg"/>
  </div>

  <div class="span8" style="padding-top:80px;">
    <h1 style="font-family:Junction Light;"> I. The Problem </h1>
    <h4>Communities lack access to <a>the tools and techniques</a> needed to participate in decisions being made about their communities.</h4>
  </div>
</div>

<hr />
<div class="row-fluid" style="padding:40px;">

  <div class="span8" style="padding-top:80px;padding-right:50px;">
    <h1 style="font-family:Junction Light;"> II. The Collaboration </h1>
    <h4>We are an open network of <a>community organizers</a>, educators, technologists and researchers working to create low cost solutions for <a>monitoring air, water and land</a>.</h4>
  </div>

  <div class="span4">
    <img style="width:300px;height:300px;margin-bottom:30px;" class="img img-circle" src="http://i.publiclab.org/system/images/photos/000/005/793/medium/20140731_182846.jpg"/>
  </div>
</div>

<hr />
<div class="row-fluid" style="padding:40px;">

  <div class="span4">
    <img style="width:300px;height:300px;margin-bottom:30px;" class="img img-circle" src="http://i.publiclab.org/system/images/photos/000/000/436/large/LizBklnNRG.jpg"/>
  </div>

  <div class="span8" style="padding-top:80px;">
    <h1 style="font-family:Junction Light;"> III. The Challenge </h1>
    <h4>Discover, collaborate on, and contribute to <a>locally important matters</a> with the support of a global community.</h4>
  </div>
</div>

<hr />
<div class="row-fluid" style="padding:40px;">

  <div class="span8" style="padding-top:40px;padding-right:50px;">
    <h1 style="font-family:Junction Light;"> IV. The Solution </h1>
    <h4>We’re dedicated to inspiring curiosity in communities and DIY explorers to look closely at local environments, using <a>simple tools</a> that contribute to a <a>growing body of data</a>.</h4>
  </div>

  <div class="span4">
    <img style="width:300px;height:300px;margin-bottom:30px;" class="img img-circle" src="http://i.publiclab.org/system/images/photos/000/002/429/large/juakali.png"/>
  </div>

</div>
</div>

