<div class="container">

<% cache('feature_home-intro', skip_digest: true) do %>
  <%= feature("home-intro") %>
<% end %>

<div class="dashboard">
  <% cache('home-blog', expires_in: 60.minutes, skip_digest: true) do %>
    <div class="tab-pane active" id="notes">
      <% unless @notes.nil? || @notes.length == 0 %>
        <%= render partial: "notes/notes" %>
      <% end %>
    </div>
  <% end %>
</div>

</div>
