<% cache('feature_home-carousel', skip_digest: true) do %>
  <%= feature("home-carousel") %>
<% end %>

<div style="padding:30px 5%;">

<% cache('feature_home-intro', skip_digest: true) do %>
  <%= feature("home-intro") %>
<% end %>

<div class="dashboard">
  <% cache('home-blog', expires_in: 60.minutes, skip_digest: true) do %>
    <div class="tab-pane active" id="notes">
      <% unless @notes.nil? || @notes.length == 0 %>
        <%= render partial: "notes/notes", locals: { paginated: false } %>
        <p><center><a class="btn btn-outline-secondary" href="/blog">Read more</a></center></p>
      <% end %>
    </div>
  <% end %>
</div>

</div>
