<style>
/* media crap */
</style>

<div style="position:absolute;top:0;left:0;z-index:-1;height:380px;min-height:380px;overflow:hidden;">
  <img style="width:100%;" class="visible-desktop img img-rounded" src="http://i.publiclab.org/system/images/photos/000/005/433/original/barnraising-handraising.JPG" />
  <img style="max-width:none;margin-left:-50%;width:200%;" class="hidden-desktop img img-rounded" src="http://i.publiclab.org/system/images/photos/000/005/433/original/barnraising-handraising.JPG" />
</div>

<div class="" style="margin-top:320px;"></div>

<div style="padding:30px 10%;">

<h1 style="font-family:Junction Light;letter-spacing:;line-height:0.7em;font-size:4em;margin-top:0;margin-bottom:20px;padding-top:0.3em;">Public Lab 
<small style="letter-spacing:100%;">is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms. <a href="/join">Join now &raquo;</a></small></h1>

<h3 style="text-align:center;color:#888;">
  <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fpubliclab.org%2Fhome&region=follow_link&screen_name=PublicLab&tw_p=followbutton&variant=2.0"><i style="text-decoration:none;" class="icon icon-twitter"></i></a>
  <a href="https://www.facebook.com/PublicLab"><i style="text-decoration:none;" class="icon icon-facebook"></i></a> 
</h3>

<br />

<div class="row-fluid">

<div class="span4" style="border:1px solid #ccc;padding:10px 14px;min-height:125px;margin-bottom:10px;">
  <h3 style="margin-bottom:4px;"><a style="font-family:Junction Light;color:#444;padding-top:10px;" href="http://publiclab.org/notes/cfastie/08-26-2014/l-e-a-f-f-e-s-t">LEAFFEST 2014</a></h3>
  <p>A Public Lab meetup <a href="http://publiclab.org/notes/cfastie/08-26-2014/l-e-a-f-f-e-s-t">this weekend in Salisbury, Vermont &raquo;</p>
</div>
<div class="span4">
  <a href="http://publiclab.org/wiki/barnraising"><img class="img img-rounded" src="http://i.publiclab.org/system/images/photos/000/006/113/original/barnraising-2014-banner-3.jpg"/></a>
  <h3></h3>
  <p></p>
</div>
<div class="span4">
  <a href="http://store.publiclab.org"><img class="img img-rounded" src="http://i.publiclab.org/system/images/photos/000/006/670/original/back-to-school-front.jpg"/></a>
</div>

</div>

<br />
<br />



<style>
  #bottom h1 {
    font-size:4em;
    line-height:1.2em;
  }
  #bottom h4 {
    color:#888;
    font-size:1.6em;
    line-height:1.2em;
  }
</style>

<div id="bottom">
<div class="row-fluid" style="padding:40px 0;">

  <img style="margin-bottom:30px;" class="hidden-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/671/original/canoe.jpg"/>
  <img style="margin:0;" class="visible-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/671/original/canoe.jpg"/>

  <div class="span8" style="padding-top:30px;padding-left:20px;">
    <h1 style="font-family:Junction Light;"> I. The Problem </h1>
    <h4>Communities lack access to <a>the tools and techniques</a> needed to participate in decisions being made about their communities, especially when facing environmental hazards.</h4>
  </div>
</div>

<hr />
<div class="row-fluid" style="padding:40px 40px 40px 0;">

  <img style="margin-bottom:30px;" class="hidden-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/672/original/ne-barn.jpg"/>

  <div class="span8" style="padding-top:30px;padding-right:50px;">
    <h1 style="font-family:Junction Light;"> II. The Collaboration </h1>
    <h4>We are an open network of <a>community organizers</a>, educators, technologists and researchers working to create low cost solutions for <a>monitoring air, water and land</a>.</h4>
    <h4>Discover, collaborate on, and contribute to <a>locally important matters</a> with the support of a global community.</h4>
  </div>

  <img style="margin:0;" class="visible-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/672/original/ne-barn.jpg"/>
</div>

<hr />
<div class="row-fluid" style="padding:40px 40px 40px 0;">

  <img style="margin-bottom:30px;" class="hidden-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/673/large/LizBklnNRG.jpg"/>
  <img style="margin:0;" class="visible-desktop span4 img img-circle" src="http://i.publiclab.org/system/images/photos/000/006/673/large/LizBklnNRG.jpg"/>

  <div class="span8" style="padding-top:30px;padding-left:20px;padding-right:50px;">
    <h1 style="font-family:Junction Light;"> III. The Solution </h1>
    <h4>Join us today, as we work together to build and inspire a community of DIY activists and explorers using simple tools to build a <a>growing body of data</a> about our local environments.</h4>
  </div>
</div>

</div>

