<%= render :partial => "home/sidebar" %>
<div class="span9">

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><img src="/images/plots-header.jpg" />
        <div class="carousel-caption" style="padding:4px 16px 0 16px;">
          <h2 style="color:white;">The Public Laboratory <small class="hidden-phone">for Open Technology and Science</small></h2>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <div class="well">
    <div class="span3">
      <p><a href="/join" class="btn btn-primary btn-large btn-block">Join now &raquo;</a></p>
      <p><a class="btn btn-block"><i class="icon icon-film"></i> Watch intro</a></p>
    </div>
    <div class="span9">
      <p><b>Public Lab</b> is a community where you can learn how to investigate environmental concerns. Using inexpensive DIY techniques, we seek to change how people see the world in environmental, social, and political terms.</p>
    </div>
    <br style="clear:both" />
  </div>

  <div>
    <p>Community members develop tools and write open source instructions as <a href="/notes">research notes</a>, wiki pages, <a href="/guides">printable guides</a>, and <a href="/videos">videos</a>, so others know how to use these tools, and many have <a href="/wiki/creating-local-mailing-lists">started local groups</a> in their area. We also provide support through our <a href="/wiki/mailing-lists">mailing lists</a>. This works because everyone <b>both learns from and helps each other out</b>, and we all contribute to the growing body of documentation as we go.</p>

  <div id="share">
	<g:plusone></g:plusone>
	<script src="https://apis.google.com/js/plusone.js"></script>
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
  </div>

    <hr />
  </div>

  <%= render :partial => 'notes/notes' %>

  </div><!--/row-->
</div><!--/span-->
