<%= render :partial => "home/sidebar" %>
<script src="/assets/js/dragdrop.js"></script>
<div class="span9">
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Note:</strong> This is an example note posting form; it is not functional.
  </div>
  <form class="well post">
    <h3 style="margin-top:0;">Share your work:</h3>

    <div class="sidebar-nav pull-right span3">
      <a class="btn btn-large btn-block"><i class="icon-upload"></i> Choose files to upload</a>
      <br />
      <div class="dropzone hidden-phone hidden-tablet" id="dropzone">
        Drag files here to attach
      </div>
    </div>

    <input type="text" class="span9" placeholder="Title"><br />

    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-small" href="#"><i class="icon-bold"></i></a>
        <a class="btn btn-small" href="#"><i class="icon-italic"></i></a>
        <a class="btn btn-small" href="#">Header</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-small" href="#"><i class="icon-globe"></i></a>
        <a class="btn btn-small" href="#" data-><i class="icon-picture"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn btn-small btn-info" href="#"><i class="icon-question-sign icon-white"></i> Help</a>
      </div>
    </div>

    <textarea class="span9" id="text-input" oninput="this.editor.update()"
              rows="8" cols="60" placeholder="Type **Markdown** here."></textarea>
    <div class="well span9" id="preview" style="display:none;"> </div>
    <br style="clear:both;"/>

    <script src="/assets/js/markdown.js"></script>
    <script>
      function Editor(input, preview)
      {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        }
        input.editor = this;
        this.update();
      }
      var $M = function (id) { return document.getElementById(id); };
      new Editor($M("text-input"), $M("preview"));
    </script>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-tags"></i></span>
      <input type="text" class="span6" <% if params[:tags] %>value="<%= params[:tags] %>"<% else %>placeholder="balloon-mapping, new-york"<% end %> data-provide="typeahead" data-source="['balloon-mapping','kite-mapping','spectrometry','near-infrared-camera','thermal-flashlight']">
    </div>

    <br />
    <button type="submit" class="btn btn-primary btn-large">Publish</button>
    <a class="btn btn-large" onClick="$('#preview').toggle();$('#text-input').toggle()">Preview</a>
  </form>
</div>
