
<div class="span3">

  <p>Public Lab is an open community which develops and applies open-source tools to environmental exploration and investigation.</p>

  <p>Sign up to join a diverse community with a lot of grassroots expertise. We're developing <b>new tools to investigate environmental issues</b>, with an emphasis on:</p>

  <ul>
    <li>low cost</li>
    <li>data legibility (including a preference for maps and other rich visual means of representation)</li>
    <li>ease of use/low barrier to entry &amp; high public participation</li>
    <li>high quality, environmentally and socially relevant data</li>
    <li>creative reuse of consumer technology</li>
    <li>open source and user-modifiable designs</li>
  </ul>

  <hr />

</div>

<div class="span9">
  <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>

  <h3>Join Public Lab <small>Contribute to our growing body of open environmental science research</small></h3>

  <form class="well">

    <input id="username" type="text" placeholder="username">
    <span class="help-block"><i>No spaces or punctuation, please.</i></span>
    <input id="email" type="text" placeholder="you@email.com"><br />

    <br />
    <p><b>Join mailing lists on different topics and for different regions</b></p>

    <label class="checkbox">
      <input id="lists[publiclaboratory]" type="checkbox" checked="true" value="publiclaboratory">
      publiclaboratory - the main open discussion list
    </label>
    <label class="checkbox">
      <input id="lists[grassrootsmapping]" type="checkbox" checked="true" value="grassrootsmapping">
      Grassroots Mapping mailing list (balloon and kite mapping)
    </label>
    <label class="checkbox">
      <input id="lists[plots-spectrometry]" type="checkbox" checked="true" value="plots-spectrometry">
      plots-spectrometry - for spectrometry and spectral analysis discussion
    </label>

    <hr />
    <p><b>Local mailing lists (for event coordination, meetups)</b></p>

    <label class="checkbox">
      <input id="lists[plots-gulfcoast]" type="checkbox" value="plots-gulfcoast">
      plots-gulfcoast
    </label>
    <label class="checkbox">
      <input id="lists[plots-nyc]" type="checkbox" value="plots-nyc">
      plots-nyc
    </label>
    <label class="checkbox">
      <input id="lists[plots-boston]" type="checkbox" value="plots-boston">
      plots-boston
    </label>
    <label class="checkbox">
      <input id="lists[plots-norcal]" type="checkbox" value="plots-norcal">
      plots-norcal
    </label>

    <br />
    <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      $(function() { Recaptcha.create('6Lff6sESAAAAAK9cp9A2ajSGESoHnd3EZI4XaLQe', 'recaptcha_ajax_api_container', {theme: 'white'});});
      //--><!]]>
    </script>

    <button type="submit" class="btn btn-primary btn-large">Sign up</button>
  </form>

  <h3>Licensing agreement</h3>
  <p>As an open source community, we believe in open licensing of content so that other members of the community can leverage your work legally -- with attribution, of course. By joining the Public Laboratory site, <b>you agree to release the content you post here under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Sharealike license</a></b>, and the hardware designs you post under the <b><a href="http://www.ohwr.org/cernohl">CERN Open Hardware License 1.1</a> (<a href="http://www.ohwr.org/attachments/735/CERNOHLv1_1.txt">fulltext</a>)</b>. This has the added benefit that others must share their improvements in turn with you.</p>
  <p>If there is content which you do not wish to license under these terms, you must clearly indicate so in your post.</p>

</div>
