<div class="span3">

  <p><b>Subscriptions</b> let you keep up to date with topics on Public Lab. You can choose to receive them by email or in digest form.</p>

  <hr />

</div>

<div class="span9">

  <h3>Manage subscriptions</h3>

  <div class="navbar">
    <div class="navbar-inner">
      <form class="navbar-form" action="/subscribe/tag">
          <input type="text" name="id" class="input search-query" placeholder="enter tags" data-provide="typeahead" data-source='["balloon-mapping","thermal-flashlight","spectrometer"]' autocomplete="off">
        <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add</button>
      </form>
    </div>
  </div>

  <table class="table">
  <tr><th>Tag</th><th>Options</th></tr>
  <% current_user.subscriptions(:tag).each do |subscription| %>
  <tr>
    <td><a href="/tag/<%= subscription.tagname %>"><%= subscription.tagname %></a></td>
    <td><div class="btn-toolbar" style="margin:0;">
      <div class="btn-group">
        <a rel="tooltip" title="As it happens" class="btn btn-small" href="javascript:void(0)"><i class="icon-envelope"></i> Email</a>
        <a rel="tooltip" title="Once per day" class="btn btn-small" href="javascript:void(0)"><i class="icon-list"></i> Digest</a>
        <a class="btn btn-small" href="javascript:void(0)"><i class="icon-remove-sign"></i> Unsubscribe</a>
      </div>
    </div></td>
  </tr>
  <% end %>
  </table>

</div>
