<div class="col-md-12">

    <div style="text-align:center;">
      <h1 style="font-size:3.4em;margin-top:40px;"><%= raw t('notes.tools_places.tools_and_techniques') %></h1>
      <h4 style="color:#888;"><%= raw t('notes.tools_places.subtitle') %></h4>
      <p><i>Public Lab's community collaboratively develops many different techniques and methods for DIY environmental monitoring. Browse many of them here and learn how to get involved.</i></p>
    </div>

  <hr />

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ul style="columns:3;">
 agriculture
 drinking-water
 fracking
 indoor-air
 chemicals
 industry
 land-use
 land-change
 mining
 oil-and-gas
 transportation
 urban-planning
 sensors
      </ul>
    </div>
  </div>

  <%= render :partial => "notes/notes" %>

  <hr />

</div>
