<p>Hi! Your post was approved by <a href='https://publiclab.org/profile/<%= @moderator.username %>'><%= @moderator.username %></a> (a <a href='https://publiclab.org/wiki/moderation'>community moderator</a>) and is now visible in the <a href='https://publiclab.org/dashboard'>Public Lab research feed</a>. Thanks for contributing to open research!</p>

<hr /> 

<p>See your post here: https://publiclab.org<%= @node.path %></p> 

<p>Thanks for your patience! We've had to moderate first time posters due to problems with spam. Your posts will no longer be moderated, as long as you follow our <a href="https://publiclab.org/wiki/moderation">content guidelines</a>.</p>
