development:
  adapter: mysql2
  username:root 
  password: Vmaaw22%
  database: publiclab_dev

test:
  adapter: mysql2
  username: 
  password: 
  database: publiclab_test

production:
  adapter: mysql2
  username: 
  password: 
  database: publiclab_production
