[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql

# To avoid single large file
innodb_file_per_table = 1

socket = /var/lib/mysql/mysqld.sock
pid-file = /var/lib/mysql/mysqld

#
# * Fine Tuning
#
# key_buffer		= 16M     # Not compatible with MySQL 5.7
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
max_connections        =  20
wait_timeout = 60
innodb_buffer_pool_size = 600M
innodb_log_file_size = 150M
join_buffer_size = 2M

#
# * Query Cache Configuration
#
#query_cache_limit	= 1M
#query_cache_size        = 80M
query_cache_limit	= 0
query_cache_size        = 0
# Disabled to reduce RAM overhead - we have rails cache

# Here you can see queries with especially long duration
slow-query-log	= 1
slow-query-log-file = /var/lib/mysql/log/mysql-slow.log
long_query_time = 5

!includedir /etc/mysql/conf.d/
