[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql

# Plots specific
# To avoid single large file
innodb_file_per_table = 1
# Replication
#server-id=2
#log_bin = /var/lib/mysql/log/mysql-bin.log
#binlog_do_db = publiclab_production
# Persist socket
socket = /var/lib/mysql/mysqld.sock
pid-file = /var/lib/mysql/mysqld

# master-host=172.17.0.1
replicate-do-db=publiclab_production
relay-log=publiclab-relay-bin
relay-log-index=publiclab-relay-bin.index

#
# * Fine Tuning
#
key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
max_connections        =  50
wait_timeout = 60
#
# * Query Cache Configuration
#
query_cache_limit	= 1M
query_cache_size        = 16M

# Here you can see queries with especially long duration
slow-query-log  = 1
slow-query-log-file = /var/lib/mysql/log/mysql-slow.log
long_query_time = 5

!includedir /etc/mysql/conf.d/
