<%= render :partial => "editor/toolbar" %>

<div class="form-group dropzone">
  <textarea aria-label="Wiki Text" name="body" tabindex="2" class="form-control" id="text-input" rows="20" cols="60"><% if @node && @node.latest && @node.latest.body %><%= @node.latest.body %><% else %><%= params[:body] %><% end %></textarea>
  <div id="imagebar">
    <div class = "inline_image_drop" style="display:none;">
      <div id="create_progress" style="display:none;" class="progress float-right">
        <div id="create_progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%;"></div>
      </div>
      <p>
        <span id="create_uploading" class="uploading" style="display:none;">
          Uploading...
        </span>
      </p>
    </div>
  </div>
</div>

<div class="well" id="preview" style="display:none;"> </div>

<script>
  jQuery(document).ready(function() {
    $E.initialize({})
  })
</script>
