<script src="/assets/js/editor.js?2"></script>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-small" onClick="$E.bold()"><i class="icon-bold"></i></a>
    <a class="btn btn-small" onClick="$E.italic()"><i class="icon-italic"></i></a>
    <a class="btn btn-small" onClick="$E.h2()"><b>Header</b></a>
  </div>

  <div class="btn-group">
    <a rel="tooltip" title="Make a link" class="btn btn-small" href="javascript:void(0)" onClick="$E.link()"><i class="icon-globe"></i></a>
    <!--<a rel="tooltip" title="Place an image" class="btn btn-small" href="javascript:void(0)" onClick="$E.image()" data-><i class="icon-picture"></i></a>-->
  </div>

  <div class="btn-group hidden-phone">
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
      Templates
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a onClick="$E.apply_template('default')">Default</a></li>
      <li><a onClick="$E.apply_template('support')">Request help</a></li>
      <li><a onClick="$E.apply_template('event')">Post an event</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn btn-link hidden-phone" target="_blank" href="/wiki/authoring-help"><i class="icon-question-sign"></i> Help</a>
    <a class="btn btn-small visible-phone" target="_blank" href="/wiki/authoring-help"><i class="icon-question-sign"></i></a>
  </div>

</div>

<div id="dropzone">
  <textarea name="body" tabindex="2" class="span9" id="text-input" rows="20" cols="60"><% if @node && @node.latest && @node.latest.body %><%= @node.latest.body %><% else %><%= params[:body] %><% end %></textarea>
  <div id="imagebar">
    <div id="progress" style="display:none;" class="progress progress-striped active pull-right">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <p><span class="uploading" style="display:none;">Uploading...</span><span class="prompt"><span style="padding-right:4px;float:left;" class="hidden-phone">Drag &amp; drop to add an image, or </span><span class="fileinput-button"><a>choose an image</a><input id="fileinput" type="file" name="image[photo]" style="height:4em;"></span></p>
  </div>
</div>

<div class="well span9" id="preview" style="display:none;"> </div>
<br style="clear:both;"/>

<script src="/assets/js/marked.js"></script>
<script>
  (function() { 
    $E.initialize({})
  })()
</script>
<link rel="stylesheet" href="/jquery-file-upload/css/jquery.fileupload-ui.css">
<script src="/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/assets/js/dragdrop.js?2"></script>
