<%= render :partial => "editor/toolbar" %>

<div class="form-group dropzone">
  <textarea aria-label="Wiki Text" name="body" tabindex="2" class="form-control" id="text-input" rows="20" cols="60"><% if @node && @node.latest && @node.latest.body %><%= @node.latest.body %><% else %><%= params[:body] %><% end %></textarea>
  <div id="imagebar">
    <div style="display:none;" id="create_progress" class="progress progress-striped active pull-right">
      <div id="create_progress-bar" class="progress-bar" style="width: 0%;"></div>
    </div>
    <p>

      <span id="create_uploading" class="uploading" style="display:none;">
        Uploading... (<a onClick="$E.cancel_upload()">cancel</a>)
      </span>

      <span id="create_prompt" class="prompt">
        <span style="padding-right:4px;float:left;" class="d-md-none d-lg-block">
          Drag and drop to add an image or file, or
        </span>

        <!-- http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button -->
        <label class="" for="fileinput">
          <input id="fileinput" type="file" name="image[photo]" style="display:none;" />
          <a class="d-none d-md-inline">choose one</a>
          <span class="d-md-none">
            <i class="fa fa-upload"></i>
            <a>Upload image</a>
          </span>
        </label>
      </span>

    </p>
  </div>
</div>

<div class="well" id="preview" style="display:none;"> </div>

<script>
  jQuery(document).ready(function() {
    $E.initialize({})
  })
</script>
