<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-sm" onClick="$E.bold()"><i class="fa fa-bold"></i></a>
    <a class="btn btn-sm" onClick="$E.italic()"><i class="fa fa-italic"></i></a>
    <a class="btn btn-sm" onClick="$E.h2()"><b><span class="hidden-sm">Header</span><span class="visible-sm">H</span></b></a>
  </div>

  <div class="btn-group">
    <a rel="tooltip" title="Make a link" class="btn btn-sm" href="javascript:void(0)" onClick="$E.link()"><i class="fa fa-link"></i></a>
    <!--<a rel="tooltip" title="Place an image" class="btn btn-sm" href="javascript:void(0)" onClick="$E.image()" data-><i class="fa fa-picture"></i></a>-->
  </div>

  <div class="btn-group hidden-sm">
    <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
      Templates
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a onClick="$E.apply_template('default')">Default</a></li>
      <li><a onClick="$E.apply_template('support')">Request help</a></li>
      <li><a onClick="$E.apply_template('event')">Post an event</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a onClick="$E.save()" class="btn btn-sm"><i class="fa fa-save"></i></a>
    <a onClick="$E.recover()" class="btn btn-sm">Recover</a>
  </div>

  <div class="btn-group">
    <a class="btn btn-link hidden-sm" target="_blank" href="/wiki/authoring-help"><i class="fa fa-question-sign"></i> Help</a>
    <a class="btn btn-sm visible-sm" target="_blank" href="/wiki/authoring-help"><i class="fa fa-question-sign"></i></a>
  </div>

</div>

<div id="dropzone">
  <textarea name="body" tabindex="2" class="col-md-9" id="text-input" rows="20" cols="60"><% if @node && @node.latest && @node.latest.body %><%= @node.latest.body %><% else %><%= params[:body] %><% end %><%= render :partial => "editor/newsletter" if params[:newsletter] %></textarea>
  <div id="imagebar">
    <div id="progress" style="display:none;" class="progress progress-striped active pull-right">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <p>
      <span class="uploading" style="display:none;">
        Uploading... (<a onClick="$E.cancel_upload()">cancel</a>)
      </span>
      <span class="prompt">
        <span style="padding-right:4px;float:left;" class="hidden-sm">
          Drag &amp; drop to add an image or file, or 
        </span>
        <span class="fileinput-button">
          <a class="hidden-sm">choose one</a>
          <a class="visible-sm">
            <i class="fa fa-upload"></i> Upload image
          </a>
          <input id="fileinput" type="file" name="image[photo]" style="height:4em;" />
        </span>
      </span>
    </p>
  </div>
</div>

<div class="well col-md-9" id="preview" style="display:none;"> </div>
<br style="clear:both;"/>

<script>
  jQuery(document).ready(function() {
    $E.initialize({})
  })
</script>
