<span style="margin-top:12px;margin-left:8px;" class="checkbox">
  <label for="event-input">
    <input tabindex="7" onChange="$('#event-info').toggle()" id="event-input" type="checkbox" name="event">
    This is an event
  </label>
</span>

<div id="event-info" style="display:none;clear:both;padding-top:4px;">
  <p><i>An RSVP feature will be added to your note. Please choose a date:</i></p>
  <span style="padding-right:0;" class="input-group date">
    <input data-provide="datepicker" data-date="<%= DateTime.now.strftime("%m-%d-%Y") %>" data-date-format="mm-dd-yyyy" class="col-md-8 form-control" size="16" type="text" name="date" value="<%= DateTime.now.strftime("%m-%d-%Y") %>" />
    <span class="input-group-append"><i class="fa fa-calendar"></i></span>
  </span>
</div>
