<div class="sidebar-nav pull-right span3">

  <h3 style="margin-top:0;" class="hidden-phone">Main image</h3>

  <img class="img-rounded" id="leadImage" <% unless @node && @node.main_image || params[:main_image] %>style="display:none;" <% end %>src="<% if @node && @node.main_image %><%= @node.main_image.path(:default) %><% elsif params[:main_image] && Image.find_by_id(params[:main_image]) %><%= Image.find_by_id(params[:main_image]).path %><% end %>" />
  <div class="side-dropzone" id="side-dropzone">
    <p class="prompt"><span class="hidden-phone">Drag &amp; drop to add an image, or </span><span class="fileinput-button"><a><i class="icon icon-upload visible-phone pull-left" style="padding-right:6px;"></i> choose an image</a><input tabindex="3" id="side-fileinput" type="file" name="image[photo]" style="height:4em;"></span></p>
    <br class="hidden-phone" />
  </div>
  <div id="side-progress" style="display:none;" class="progress progress-striped active pull-right">
    <div class="bar" style="width: 0%;"></div>
  </div>
  <p class="side-uploading" style="display:none;padding-top:4px;color:#aaa;">Uploading...</p>

</div>
