<div class="btn-toolbar" style="margin-bottom:8px;">

  <div class="btn-group">
    <a data-toggle="tooltip" title="Bold" data-placement="bottom" class="btn btn-default btn-sm" onClick="$E.bold()"><i class="fa fa-bold"></i></a>
    <a data-toggle="tooltip" title="Italic" data-placement="bottom" class="btn btn-default btn-sm" onClick="$E.italic()"><i class="fa fa-italic"></i></a>
    <a data-toggle="tooltip" title="Header" data-placement="bottom" class="btn btn-default btn-sm" onClick="$E.h2()"><b><span class="hidden-sm">Header</span><span class="visible-sm">H</span></b></a>
  </div>

  <div class="btn-group">
    <a data-toggle="tooltip" title="Make a link" data-placement="bottom" class="btn btn-default btn-sm" href="javascript:void(0)" onClick="$E.link()"><i class="fa fa-link"></i></a>
  </div>

  <div class="btn-group hidden-sm">
    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
      Templates
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a onClick="$E.apply_template('default')">Default</a></li>
      <li><a onClick="$E.apply_template('support')">Request help</a></li>
      <li><a onClick="$E.apply_template('event')">Post an event</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a data-toggle="tooltip" title="Save" data-placement="bottom" onClick="$E.save()" class="btn btn-default btn-sm"><i class="fa fa-save"></i></a>
    <a data-toggle="tooltip" title="Recover" data-placement="bottom" onClick="$E.recover()" class="btn btn-default btn-sm">Recover</a>
  </div>

  <div class="btn-group">
    <a data-toggle="tooltip" title="Help" data-placement="bottom" class="btn btn-default btn-sm" target="_blank" href="/wiki/authoring-help"><i class="fa fa-question-circle"></i></a>
  </div>

</div>