<header style="text-align: center;color:black">
  <img src="https://avatars2.githubusercontent.com/u/4621650?s=200&v=4" style="width: 100px;height: 100px">
  <p style="font-size: 20px">[Public Lab] <%= @subject %></p>
  <p><%= Time.now.strftime("%B %-d %Y") %></p>
</header>

<div style="width:95%;margin: 0 auto;margin-top: 54px;color: black;"></div>
  <%= render partial: "wiki/digest"%>
</div>
