<% content_for (:head) { javascript_include_tag "dynamic_search" } %>

<%= render :partial => "sidebar/related" %>

<div class="col-md-9">
  <h3 style="margin-top:0;">Dynamic Search Page</h3>

  <hr />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" id="dynamic_srch_form">
          <div class="form-group">
            <input class="form-control" name="qryField" id="qryField" placeholder="Enter search terms"/>
          </div>
        </div>
        <button class="btn btn-primary" id="srchButton"><span class="fa fa-search"></span></button>
      </form>
    </div>
    <div class="row">
      <div class="col-md-9">
          <div class="panel with-nav-tabs panel-default">
              <div class="panel-heading clearfix">
                  <div class="pull-left">
                      <h1 class="panel-title">Search Results</h1>
                  </div>
                  <div class="pull-right">
                      <ul class="nav nav-tabs">
                          <li class="active"><a href="#taball" data-toggle="tab">All (<span id="allcount">0</span>)</a></li>
                          <li><a href="#tabnotes" data-toggle="tab">Notes (<span id="notecount">0</span>)</a></li>
                          <li><a href="#tabprofiles" data-toggle="tab">Profiles (<span id="profilecount">0</span>)</a></li>
                          <li><a href="#tabquestions" data-toggle="tab">Q&A (<span id="questioncount">0</span>)</a></li>
                          <li><a href="#tabmaps" data-toggle="tab">Maps (<span id="mapcount">0</span>)</a></li>
                          <li><a href="#tabstatic" data-toggle="tab">Static Pages (<span id="staticcount">0</span>)</a></li>
                          <li><a href="#tabtags" data-toggle="tab">By Tags (<span id="tagcount">0</span>)</a></li>
                      </ul>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="tab-content">
                      <div class="tab-pane fade in active" id="taball">
                          <div class="row sresults-row">
                          </div>
                          
                      </div>
                      <div class="tab-pane fade" id="tabnotes">
                          <div class="row sresults-row">
                          </div>
                          
                      </div>
                      <div class="tab-pane fade" id="tabprofiles">
                          <div class="row sresults-row">
                          </div>
                          
                      </div>
                      <div class="tab-pane fade" id="tabquestions">
                          <div class="row sresults-row">
                          </div>
                            
                      </div>
                      <div class="tab-pane fade" id="tabmaps">
                          <div class="row sresults-row">
                          </div>
                            
                      </div>
                      <div class="tab-pane fade" id="tabtags">
                          <div class="row sresults-row">
                          </div>
                            
                      </div>
                      <div class="tab-pane fade" id="tabtags">
                          <div class="row sresults-row">
                          </div>
                          
                      </div>
                  </div>
              </div>
           </div>
      </div>
    </div>
  </div>
</div>
