
<div class="col-md-8">

  <h3 style="margin-top:0;">User map</h3>

  <div class="col-md-12" style="height:400px;" id="map"></div>

  <script>
    var map = L.map('map').setView([0,0], 2);
    L.tileLayer("https://a.tiles.mapbox.com/v3/jywarren.map-lmrwb2em/{z}/{x}/{y}.png").addTo(map)

    <% @users.each do |user| %>
      L.marker([<%= user.lat %>, <%= user.lon %>]).addTo(map).bindPopup("<%= user.name %>");
    <% end %>
  </script>

</div>

