<%= render :partial => "sidebar/related" %>

<div class="col-md-9">
  <h3 style="margin-top:0;">Advanced search</h3>

  <%= render 'form' %>

  <hr />

  <div class="pull-right" style="margin-top:5px;">
    <label class="checkbox pull-right" style="width:100px;margin-right:10px;">
      <input type="checkbox" checked="<%= !params[:comments] %>" name="comments" onClick="$('.comment').toggle()" />
      <i class="fa fa-comment"></i> Comments
    </label>

    <label class="checkbox pull-right" style="width:60px;margin-right:10px;">
      <input type="checkbox" checked="<%= !(params[:maps].nil?) %>" name="maps" onClick="$('.map').toggle()" />
      <i class="fa fa-map-marker"></i> Maps
    </label>

    <label class="checkbox pull-right" style="width:55px;margin-right:10px;">
      <input type="checkbox" checked="true" name="wikis" onClick="$('.page').toggle()"/>
      <i class="fa fa-book"></i> Wiki
    </label>

    <label class="checkbox pull-right" style="width:130px;margin-right:10px;">
      <input type="checkbox" checked="true" name="notes" onClick="$('.note').toggle()"/>
      <i class="fa fa-file"></i> Research notes
    </label>

  </div>

</div>
