<form id="inline_searchform" action="<%= search_query_path %>" method="get" class="form" autocomplete="off">
  <div class="form-group form-inline">
    <input tabindex="1" name="q" id="inline_searchform_input" type="text" class="search-query typeahead form-control" data-provide="typeahead" value="<%= params[:q] %>">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search fa fa-white"></i></button>
  </div>
</form>
