@font-face {
    font-family: 'junctionregular';
    src: url('/assets/junction-webfont.eot');
    src: url('/assets/junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/junction-webfont.woff') format('woff'),
         url('/assets/junction-webfont.ttf') format('truetype'),
         url('/assets/junction-webfont.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
}

body {
}

h1,h2,h3,h4,h5,h6 {
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
  font-weight:normal;
}

/* fontawesome default color */
a i { color:#222; }
a i.icon-white { color:white; }

.label a {
  color:white;
}

.alert h2 {
  font-size:1.2em;
}

@media (max-width:400px) {
  .hidden-tiny {
    display:none;
  }
  .visible-tiny {
    display:inline;
  }
}
@media (min-width:400px) {
  .hidden-tiny {
    display:inline;
  }
  .visible-tiny {
    display:none;
  }
}

@media (min-width: 979px) {
  .header-spacer {
    padding-top:60px;
  }
}

#header .brand {
  color:white;
  padding-top:13px;
  padding-bottom:2px;
  font-family:junctionregular, lucida grande,lucida sans console,sans-serif;
}

@media (max-width: 340px) {
  #brand { display:none; }
  #brand-compact { display:inline; }
}
@media (min-width: 340px) {
  #brand-compact { display:none; }
  #brand { display:inline; }
}

.nav.bullet li {
  padding-left:20px;
}
.nav.bullet li i {
  margin-left:-19px;
}

.footer {
  margin: 20px -20px 0;
  padding: 20px;
  border-top: 1px solid #E5E5E5;
  background-color: #f8f8f8;
}

@media (min-width: 768px) {
  .footer { margin:0; }
}

@media (max-with: 786px) {
  .footer {
    margin: 20px -20px 20px;
  }
}

/* BEGIN EDITOR STYLES */

#preview {
  margin:0;
  margin-bottom:10px;
  background:white;
}

.side-dropzone {
  border:4px dashed #ccc;
  color: #aaa;
  font-size:16px;
  padding:20%;
  padding-bottom:30%;
  text-align:center;
  margin-bottom:10px;
  text-shadow: 0 -1px 0 #aaa;
}
.side-dropzone.hover {
  background:#ddd;
  color:#bbb;
  border-color:#bbb;
}
.side-dropzone {
  color:#ccc;
  text-shadow: 0 -1px 0 #aaa;
}
.side-dropzone .fileinput-button {
  text-shadow: none;
  text-decoration:underline;
}
@media (max-width: 480px) {
  .side-dropzone { padding:0; }
  .side-dropzone p { padding:15px; }
}
@media (max-width: 768px) {
  .side-dropzone { padding:0; }
  .side-dropzone p {
    padding:20px 20px 30px;
  }
}
@media (max-width: 480px) {
  #dropzone textarea {
    height:300px;
  }
}
#leadImage {
  margin-bottom:10px;
}

#dropzone textarea {
  border-bottom:none;
  margin-bottom:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#imagebar {
  width:74%;
  color: #aaa;
  border:1px solid #bbb;
  border-top:none;
  background:#f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height:3em;
}

@media (max-width: 768px) {
  #imagebar {
    width:100%;
  }
}

#imagebar p {
  border-top:2px dotted #ddd;
  padding:8px 12px 0px;
}
#dropzone.hover #imagebar {
  background:#eee;
}
#dropzone.hover textarea {
  background:#f8f8f8;
}
#progress {
  margin:10px;
  width:30%;
}
#side-progress {
  margin:3px 10px 10px;
  width:30%;
}

/* END EDITOR STYLES */

.caption {
  padding:12px;
  font-size:10px;
  font-style:italic;
}
.caption.left {
  padding-left:0;
  width:312px;
  float:left;
}
.caption.right {
  padding-right:0;
  width:312px;
  float:right;
}
.caption img {
  padding-bottom:4px;
}

