@media only screen and (max-width: 767px) {
    #comment-content {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    #comment-content {
        width: 80%;
    }
}

#question-comment-form {
    width: 90%;
}