.feature {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom:6px;
  padding:6px 12px;
  color:#888;
  border:1px solid #eee;
}
a.feature {
  text-decoration:none;
}
.feature h3 {
  color:#444;
  font-family:Junction Light;
}
.feature.img {
  background-color:#eef;
  background-width:100%;
  background-position:center center;
  border:none;
  /*background-width:100%;*/
  display:block;
}
.feature.inverted {
  background-color:#222;
}
.feature.inverted, .feature.inverted h3 {
  color:white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.feature.grey {
  background-color:#eee;
  border-color:#ddd;
}
.feature .boxed {
  background-color:rgba(0,0,0,0.5);
  padding:4px;
}
