.leaflet-marker-icon {
  background: url("https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png") ; 
}

#map_content p {
  margin: 0;
}
#map_content label {
  margin-bottom: .2rem;
}
#map_content .form-group {
  margin-bottom: 1.4rem;
}
#map_content .form-group .btn {
  margin-top: .4rem;
}

a:not([href]):not([tabindex]).btn-location,
.btn-location {
  position: inline;
  color:#666;
}
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location .fa,
a.btn-outline-secondary.btn-location .fa {
  color: #c40;
}
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location:hover,
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location:hover i,
.btn-outline-secondary.btn-location:hover,
.btn-outline-secondary.btn-location:hover i {
  color: white;
}