#map_content p {
  margin: 0;
}
#map_content label {
  margin-bottom: .2rem;
}
#map_content .form-group {
  margin-bottom: 1.4rem;
}
#map_content .form-group .btn {
  margin-top: .4rem;
}
#map_content .form-group.recent-locations {
  /* margin-bottom: 1.2rem; */
}
#map_content .recent-locations label {
  margin-bottom: 0;
}
#map_content .slide-container label {
  margin: 0;
}

#blurred-location-modal .modal-content {
  margin-top: 0;
}
#blurred-location-modal .small-description {
  font-size: 0.9rem;
  color: #808080;
}

#blurred-location-modal .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
#blurred-location-modal .modal-header .close {
  padding-bottom: 0.5rem;
}

#blurred-location-modal .modal-content .badge-group {
  margin-left: -6px;
}

#blurred-location-modal .modal-content .badge.badge-info {
  background-color: #337ab7;
  margin-left: 7px;
  margin-bottom: 2px;
  padding: 3px;
}
#blurred-location-modal .modal-content .badge {
  background-color: white;
  color: #337ab7;
  margin: 0;
}
#blurred-location-modal .modal-footer {
  justify-content: space-between;
  flex-wrap: wrap;
}
#blurred-location-modal #place_name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#blurred-location-modal .modal-footer .location-box {
  flex: 0 1 100%;
}
#blurred-location-modal #placenameDisplay {
  flex: 0 1 100%;
}
#blurred-location-modal .modal-footer label {
  flex: 0 1 100%;
  margin: 0;
}
#blurred-location-modal .modal-footer .button-box {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0 0;
}

@media (min-width: 576px) {
  #blurred-location-modal .modal-footer {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #blurred-location-modal .modal-footer .button-box {
    flex: 0 0 10%;
    display: inline;
    margin: 0 0 0 3rem;
  }
}

@media (min-width: 992px) {
  #blurred-location-modal #place_name {
    flex-wrap: nowrap;
  }
  #blurred-location-modal .modal-footer .location-box {
    flex: 1 1 50%;
  }
  #blurred-location-modal #placenameDisplay {
    flex: 1 1 60%;
  }
  #blurred-location-modal .modal-footer label {
    flex: 1 1 40%;
    margin: 0;
    padding-left: 0.5rem;
  }
}

a:not([href]):not([tabindex]).btn-location,
.btn-location {
  position: inline;
  color:#666;
}
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location .fa,
a.btn-outline-secondary.btn-location .fa {
  color: #c40;
}
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location:hover,
a:not([href]):not([tabindex]).btn-outline-secondary.btn-location:hover i,
.btn-outline-secondary.btn-location:hover,
.btn-outline-secondary.btn-location:hover i {
  color: white;
}

#coord_button {
  text-decoration: underline;
}
