// Place all the styles related to the LocationTags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete {
  background-color: white;
  width: 300px;
  border: 1px solid #cfcfcf;
  list-style-type: none;
  padding-left: 0px;
}
