/* Control layer order on maps */
#content .leaflet-pane {
  z-index: auto;
}
#content .leaflet- {
  z-index: auto;
}
#content .leaflet-marker-pane {
  z-index: 720;
}
#content .leaflet-tooltip-pane {
  z-index: 740;
}
#content .leaflet-popup-pane {
  z-index: 760;
}
.leaflet-top{
  z-index:800 !important;
}