@page {
  size: auto;   /* auto is the current printer page size */
  /* size: 5.5in 8.5in; */
  margin:40pt 30pt;  /* this affects the margin in the printer settings */
}

.hidden-print {
  display:none;
}

.visible-print {
  display:auto;
}
/*
a, a:after {
  content: normal !important;
}
*/
#content hr {
  page-break-after: always;
}

.alert,
.navbar
{
  display:none;
}

#content {
  font-size: 8pt;
}

h1 { font-size:180%; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:120%; }

h1, h2, h3, h4 {
 line-height:120%;
}
h1 small {
  font-family: Junction Light;
  font-size:75%;
}

.foldaway {
  display:block;
  padding-top:   20px;
  padding-bottom:20px;
}

a[href]:after, abbr[title]:after {
  content:none;
}

#content a[href]:after {
  content: " (" attr(href) ")";
}
#content abbr[title]:after {
  content: " (" attr(title) ")";
}

#content h1 a[href]:after, #content h1 abbr[title]:after,
#content h2 a[href]:after, #content h2 abbr[title]:after,
#content h3 a[href]:after, #content h3 abbr[title]:after,
#content h4 a[href]:after, #content h4 abbr[title]:after,
#content h5 a[href]:after, #content h5 abbr[title]:after,
#content h6 a[href]:after, #content h6 abbr[title]:after {
  content:none;
}

#content h1 .icon, 
#content h2 .icon, 
#content h3 .icon, 
#content h4 .icon, 
#content h5 .icon, 
#content h6 .icon {
  display:none;
}

#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content h5, 
#content h6 {
  margin-top:20pt;
}

h2 {
  margin-top:20pt;
}

footer {
  font-size: 8px;
  margin: 0;
  padding: 0;
  text-align: left;
}
