.card-view {
    font-family: Arial, sans-serif;
}
.card-view .card-header {
    padding: 1.2rem 1.0rem 0 1.0rem;
    background-color: inherit;
    border:none;
}
.card-view .card-header p {
    display: inline-block;
    color: #808080;
    font-size: 0.9rem;
    margin-left: 6px;
}
.card-view .card-body {
    color: #808080;
    font-size: 0.9rem;
    padding: 0 1rem 0 1rem;
}
.card-view .card-footer {
    font-family: Arial, sans-serif;
    color: #808080;
    font-size: 0.9rem;
    border: 0;
    background-color: #fff;
    padding: 0 1rem 0.6rem 1rem;
    margin: 0;
}
.card-view .posted-by-links a {
    text-decoration: underline;
    color: #808080;
    display: inline-block;
}
.card-view .posted-by-links a:hover {
    text-decoration: none;
    color: #505050;
}
.card-view p,
.card-view h4 {
    margin: 0;
}
.card-view h4 a {
    text-decoration: none;
    color: #212529;
    display: inline-block;
}
.card-view h4 a:hover {
    text-decoration: underline;
    color: #212529;
}

/* Specific to Profile Page */
.card-view.profile-card .card-body>div {
    padding: 0.4em 0 0.4em 0;
}
.card-view.profile-card .card-footer {
    padding: 0.8em 0 0.8em 0;
}