.popover-title {
  color: #333;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.popover-content {
  padding: 9px 14px;
}

.tags-list .badge a {
  color: white;
}

.tags-list .badge i {
  margin-left: 0;
}

.tags-list i:hover{
  transition-duration: .2s;
  transform: scale(1.2);
}

.circle {
  background-color: gray;
  display: block;
  margin-right: 8px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
