<% url = { :controller => "features", :action => "update", :id => @node.id } %>

<%= form_for @node, :as => :drupal_node, :url => url do |f| %>
<%= render partial: 'layouts/errorMessages', locals: { model: @node } %>

<% if @node && @node.title %>
  <h3>Editing feature: <i><%= @node.title %></i></h3>
<% end %>

  <%= render :partial => "features/form" %>
<% end %>
