<div align="center">
<nav class="navbar navbar-light bg-light <%= current_page? stats_path%>">
    <h5><a href="/stats"> All Stats</a></h5>
</nav>

<nav class="navbar navbar-light bg-light <%= current_page? stats_range_path%>">
    <h5> <a href="/stats/range">Range-based Stats</a></h5>
</nav>

<nav class="navbar navbar-light bg-light <%= current_page? stats_subscriptions_path%>">
    <h5><a href="/stats/subscriptions">Subscription stats</a></h5>
</nav>
</div>
