<div class="col-md-3">
    <h4> About this page </h4>
    <p> People subscribe to tags so that they can be updated when a research is posted with the tag they are subscribed to. This page shows the number of subscriptions and subscription rates on different tags. </p>
</div>
<div class="col-md-8 col-md-offset-1">
    <h2>Subscriptions</h2>
</div>
