<div class="row">
  <div class="col-lg-3">
    <label class="" for="<%= type %>"><%= type.capitalize.pluralize %></label>
  </div>
  <div class="col-lg-9">
    <% data.each do |tag| %>
      <span id="tag_<%= tag.id %>" class="badge badge-primary" style="font-size:13px;margin-right: 4px;">
        <%= tag.value.split(":")[1] %>
      </span>
    <% end %>
  </div>
</div>

<br />
