<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDWgc7p4WWFsO3y0MTe50vF4l4NUPcPuwE"></script>
<%= javascript_include_tag 'leaflet-blurred-location/dist/Leaflet.BlurredLocation.js' %>

<div class="container blurred-location">

  <div class="row">

  <p><b>Search by place name</b></p>
  <p><input id="placenameInput" type="text" class="form-control" /></p>

  <p><b>By dragging the map</b></p>

  <div id="map" class="leaflet-map" style="width: 100%; height: 300px; margin-bottom:10px;"></div>

  <p>
    <b>Or by co-ordinates</b>
    <div class="row">
      <div class="col-md-6">
        <p><input id="lat" type="text" class="form-control" value="<%= latitude ||= 0 %>"></p>
      </div>
      <div class="col-md-6">
        <p><input id="lng" type="text" class="form-control" value="<%= longitude ||= 0 %>"></p>
      </div>
    </div>
  </p>

  <p><b>Place name as it will be saved:</b></p>
  <p><input editable="false" id="placenameDisplay" type="text" class="form-control" /></p>

  <button data-dismiss="modal" class="btn btn-lg btn-primary" onclick="saveLocation()">Save</button>

    <button id="browserLocation" class="btn btn-default btn-lg" onclick='blurredLocation.geocodeWithBrowser();'>Auto-locate me</button>
    &nbsp; <label>
      <input id="obscureLocation" type="checkbox" checked onchange='blurredLocation.setBlurred(document.getElementById("obscureLocation").checked);'>
      Blur my location
    </label>

</div>

<script>
  
  var options = {
    InterfaceOptions: {
      latId: 'lat',
      lngId: 'lng'
    }
  }

  var location;

  (function() {

    blurredLocation = new BlurredLocation(options);

  })();
    
  function saveLocation() {
    var tags = 'lat:' + blurredLocation.getLat() + ',lon:' + blurredLocation.getLon();
    if (blurredLocation.isBlurred()) tags = tags + ',' + 'location:blurred'
    if ($('#placenameDisplay').val() != 'Location unavailable') tags = tags + ',' + 'place:' + parameterize($('#placenameDisplay').val());
    addTag(tags);
  }

  function parameterize(input) {
    return input.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
  }
  
</script>

<style>
  .modal-body {
    background: #f8f8f8;
  }
  .blurred-location { 
    background: #f8f8f8;
    width: 100%;
  }
</style>
