<style>

.font-size-small {
  font-size: 2vw;
}

.font-size-big {
  font-size: 3vw;
}

</style>

<div class="container" >
  <div class="row" >
    <div class="col-md-8">
      <label class="h2 font-size-big"><input type="radio" />&nbsp;&nbsp;Add location to your content</label>
      <br/><br/>
      <h4 class="font-size-small">Option 1 : By Placename</h4>
      </br>
      <input type="text" class="form-control"><br/>
      <h4 class="font-size-small">Option 2 : By dragging the map</h4></br>
      <label class="h2 font-size-big"><input type="checkbox">&nbsp;&nbsp;Obscure my exact location</label>
    </div>
    <div class="col-md-4">
      <h3 class="font-size-small">On a map : </h3>
      <%= render_map(17.4472, 78.3488, []) %>
       <br/>
      <h3 class="font-size-small">In Text:</h3><br/>
      <input type="text" class="form-control"><br/>
    </div>
  </div>
</div>
