<%= javascript_include_tag "locationForm" %>
<%= javascript_include_tag "location_tags.js" %>
<style>

.font-size-small {
  font-size: 150%;
}

.font-size-big {
  font-size: 200%;
}

.leaflet-map:after {
  width: 22px;
  height: 40px;
  display: block;
  content: ' ';
  position: absolute;
  top: 50%; left: 50%;
  margin: -40px 0 0 -11px;
  background: url('https://publiclab.org/assets/leaflet/dist/images/marker-icon.png');
  background-size: 22px 40px;
  pointer-events: none;
}

</style>

<div class="container" >
  <div class="row" >
    <div class="col-md-8">
      <label class="h2 font-size-big"><input type="radio" />&nbsp;&nbsp;Add location to your content</label>
      <br/><br/>
      <h4 class="font-size-small">Option 1 : By Placename</h4>
      </br>
      <input id="geo_location" type="text" class="form-control"><br/>
      <h4 class="font-size-small">Option 2 : By dragging the map</h4></br>
      <label class="h2 font-size-big"><input type="checkbox">&nbsp;&nbsp;Obscure my exact location</label>
    </div>
    <div class="col-md-4">
      <h3 class="font-size-small">On a map : </h3>
        <%= render_map(17.4472, 78.3488, []) %>
        <script>

          addGrid(map);
          geoLocateFromInput('geo_location');

        </script>
        <br/>
      <h3 class="font-size-small">In Text:</h3><br/>
      <input type="text" class="form-control"><br/>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDWgc7p4WWFsO3y0MTe50vF4l4NUPcPuwE"></script>
