<div class="modal" id="blurred-location-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title"><%= translation('locations.modal.location') %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <%= render partial: 'locations/form' %>

    </div>
  </div>
</div>
