<div id="alert-placeholder"></div>

<script>
<% if current_user && session[:openid_return_to] # for openid login, redirects back to openid auth process %>
  alert_warning('A website has requested access to your account. <a href="/openid/resume">Approve or deny the request &raquo;</a>');
<% end %>
<% flash.each do |type, msg| %>
  alert_<%= type %>("<%= msg %>");
<% end %>
</script>
