<div id="alert-placeholder"></div>

<script>
  var dom_alert = $("#alert-placeholder");

  function alert_clear() { alert_set("hidden",""); }
  function alert_notice(msg) { alert_set("alert alert-success", msg); }
  function alert_error(msg) { alert_set("alert alert-error", msg); }
  function alert_warning(msg) { alert_set("alert alert", msg); }

  function alert_set(aclass, msg) {
    // Adds an alert DIV using the alert class aclass and content from msg.
    var new_alert = $(document.createElement("DIV"));
    new_alert.addClass(aclass);
    new_alert.append('<a class="close" data-hide="alert">×</a>');
    if (aclass == "alert alert") {
      new_alert.append('<i class="icon icon-exclamation-mark"></i>');
    }
    new_alert.append(msg);
    dom_alert.append(new_alert);
  }

<% if flash[:notice] %>  alert_notice("<%= raw flash[:notice] %>");<% end %>
<% if flash[:error] %>  alert_error("<%= raw flash[:error] %>");<% end %>
<% if flash[:warning] %>  alert_warning("<%= raw flash[:warning] %>");<% end %>
<% if current_user && session[:openid_return_to] # for openid login, redirects back to openid auth process %>
  alert_warning('A website has requested access to your account. <a href="/openid/resume">Approve or deny the request &raquo;</a>');
<% end %>
</script>
