<% if model.errors.any? %>
<div class="alert alert-danger">
 <h2><%= translation('errors.template.header.other', :count => model.errors.count, :model => model.class.to_s.downcase) %></h2>
   <ul>
      <% model.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>