<footer class="footer">

  <div class="span3 hidden-print">
    <h4>Getting help</h4>
    <ul>
      <li><a href="/wiki/issues">Report a bug or issue</a></li>
      <li><a href="mailto:web@publiclab.org">Email the Web working group</a></li>
      <li>PublicLab.org is <a href="https://github.com/publiclab/plots2">open source software</a> - and <a href="/wiki/developers">looking for contributors</a></li>
    </ul>
  </div>
  <div class="span3 hidden-print">
    <h4>Links</h4>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/wiki/getting-started">Getting Started</a></li>
      <li><a href="/wiki/licenses">Licenses</a></li>
      <li><a href="/lists">Discussion lists</a></li>
      <li><a href="/stats">Site statistics</a></li>
      <li><a href="/wiki/working-groups">Working groups</a></li>
      <li><a href="/feed.rss">RSS</a></li>
    </ul>
  </div>
  <div class="span3">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0;float:left;margin-right:10px;" src="/images/cc-by-sa-88x31.png" /></a>
    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Hardware designs on this site are released under the <a href="http://www.ohwr.org/cernohl">CERN Open Hardware License 1.1</a>. Read more about Public Laboratory's <a href="/licenses">open source licensing here</a>.</p>
  </div>
  <div class="span3 hidden-print">
    <p>Specific works on this site may be released or dedicated under different licenses, but only if such alternatives are clearly indicated by their authors.</p>
    <p>This site makes extensive use of the open source font <a href="http://www.theleagueofmoveabletype.com/junction">Junction</a>.</p>
    <p>PublicLab.org is hosted through a donation of server space by <a href="http://rackspace.com/">Rackspace</a>.</p>
  </div>
  <br style="clear:both;" />
</footer>
