<footer class="footer">

    <p style="text-align:center;color:#888;padding:16px;font-style:italic;padding-bottom:24px;">
    <b><a style="color:#444;text-decoration:underline;" href="/donate">Help sustain this resource &amp; community</a>:</b> 
    the Public Lab non-profit works to <br />maintain this space for community knowledge and dialogue. Contribute to help support it!
  </p>

<div class="row">
  <div class="col-md-3 hidden-print">
    <p><b>Getting help</b></p>
    <ul>
      <li><a href="/wiki/issues" > Report a bug or issue </a>, or <a href="https://oss.skylight.io/app/applications/GZDPChmcfm1Q/recent/6h/endpoints">check if the site is running slowly</a>.</li>
      <li><a href="mailto:web@publiclab.org"> Email the Web working group </a></li>
      <li> PublicLab.org is <a href='https://github.com/publiclab/plots2'> open source software</a> - and <a href='https://code.publiclab.org/#r=all'>looking for contributors</a></li>
    </ul>
      <p>See recent code activity <a href="https://github.com/publiclab/plots2/pulse/monthly">on GitHub Pulse</a>.</p>

<p>The <a href="/conduct">Code of Conduct</a> applies to all spaces managed by the Public Lab community and non-profit, both online and in person.</p>

<p>Organizers can apply for USD$200/ month to host events, nominate yourself <a href="https://publiclab.org/organizers">here</a>.</p>

<p>Add the <a href="https://calendar.google.com/calendar/embed?src=5vots6khle6m6vssualt2of870%40group.calendar.google.com">Public Lab events calendar</a> to your Google Calendar by clicking the "+" in the lower right hand corner.</p>
  </div>
  <div class="col-md-3 hidden-print">
    <p><b>Links</b></p>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/getting-started">Getting Started</a></li>
      <li><a href="/privacy">Privacy policy</a></li>
      <li><a href="/licenses">Licenses</a></li>
      <li><a href="/tags">Topics</a></li>
      <li><a href="/stats">Site statistics</a></li>
      <li><a href="/feed.rss">RSS</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><i class="fa fa-creative-commons"></i></a> This work is licensed under a <a href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Hardware designs on this site are released under the <a href='https://publiclab.org/ohl'>CERN Open Hardware License 1.2</a>. Read more about Public Lab's <a href='/licenses'>open source licensing here</a>. </p>
  </div>
  <div class="col-md-3 hidden-print">
    <p>Specific works on this site may be released or dedicated under different licenses, but only if such alternatives are clearly indicated by their authors.</p>
    <p>This site makes extensive use of the open source font <a href='http://www.theleagueofmoveabletype.com/junction'>Junction</a>.</p>
    <p>PublicLab.org is hosted through a donation of server space by <a href='http://rackspace.com/'>Rackspace</a>.</p>
    <ul class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-language" aria-hidden="true"></i>
        Language <b class="caret"></b>
      </a>
      <ul  id="language-dropdown" class="dropdown-menu">
          <li id="en"><a href="/change_locale/en">English</a></li>
          <li id="de"><a href="/change_locale/de">Deutsch</a></li>
          <li id="zh-CN"><a href="/change_locale/zh-CN">中文</a></li>
          <li id="ar"><a href="/change_locale/ar">العربية</a></li>
          <li id="es"><a href="/change_locale/es">español </a></li>
          <li id="hi-IN"><a href="/change_locale/hi-IN">हिन्दी</a></li>
          <li id="it"><a href="/change_locale/it">italiano</a></li>
          <li id="ko"><a href="/change_locale/ko">한국어</a></li>
          <li id="pt-BR"><a href="/change_locale/pt-BR">português</a></li>
          <li id="ru"><a href="/change_locale/ru">русский</a></li>
          <li><a href="https://transifex.com/publiclab/publiclaborg/">Translate Publiclab.org</a></li>
      </ul>
<style>
#language-dropdown li {
    border-bottom: 1px solid;
    border-color: #D5D8DC;
    padding-left: 8px;
}
#language-dropdown li:last-child {
    border-bottom: none;
    padding-right: 8px;
}
</style>
<script>
  var cname = "plots2_locale";
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      var lang_code  = c.substring(name.length, c.length);
      $(`#${lang_code}`)[0].style.borderLeftStyle = "solid";
      $(`#${lang_code}`)[0].style.borderLeftColor = "#3498DB";
      $(`#${lang_code}`)[0].style.borderLeftWidth="4px";
    }
  }
</script>

    </ul>

    <h3 style="color:#888;">
      <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fpubliclab.org%2Fhome&amp;region=follow_link&amp;screen_name=PublicLab&amp;tw_p=followbutton&amp;variant=2.0"><i style="text-decoration:none;" class="fa fa-twitter"></i></a>
      &nbsp;&nbsp;
      <a href="https://www.facebook.com/PublicLab"><i style="text-decoration:none;" class="fa fa-facebook"></i></a>
      &nbsp;&nbsp;
      <a href="https://instagram.com/publiclab"><i style="text-decoration:none;" class="fa fa-instagram"></i></a>
      &nbsp;&nbsp;
      <a href="https://www.youtube.com/c/publiclab"><i style="text-decoration:none;" class="fa fa-youtube-play"></i></a>
    </h3>

    <a href="#" class="back-to-top" style="display: inline;">
      <i class="fa fa-arrow-circle-up"></i>
    </a>
    
  </div>
</div>
<br style="clear:both;" />

  <!-- Rails version <%= Rails.version %>-->
 
</footer>
