<div class="container">
	
	<div class="text-center">
		<a href="/auth/google_oauth2?origin=<%= params[:return_to] || root_url %>" id="connect-google">
			<span class="btn btn-outline-light" style="margin-right:2px;background-color: #d34836;">
				<i class="fa fa-google fa-fw" style="font-size:20px;color:white;"></i>
			</span>
		</a>
		<a href="/auth/github?origin=<%= params[:return_to] || root_url %>" id="connect-github">
			<span class="btn btn-default" style="margin-left:2px;background-color: #333;">
				<i class="fa fa-github fa-fw" style="font-size:20px;color:white;"></i>
			</span>
		</a>
		<a href="/auth/twitter?origin=<%= params[:return_to] || root_url %>" id="connect-twitter">
			<span class="btn btn-outline-light" style="margin-left:2px;background-color: #1da1f2;">
				<i class="fa fa-twitter fa-fw" style="font-size:20px;color:white;margin-left:2px;"></i>
			</span>
		</a>
		<a href="/auth/facebook?origin=<%= params[:return_to] || root_url %>" id="connect-facebook">
            <span class="btn btn-outline-light" style="margin-left:2px;background-color: #3b5998">
                <i class="fa fa-facebook fa-fw" style="font-size:20px;color:white;"></i>
			</span>
		</a>
	</div>
	
	<div class='hr-or'></div>

</div>
<style>
  div.hr-or {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    text-align: center;
    height: 0px;
    line-height: 0px;
    font-family:"Junction Light", lucida grande,lucida sans console,sans-serif;
    font-weight:normal;
  }
  
  div.hr-or:before {
    content: 'OR';
    padding:5px;
    background-color: #fff;
  }

  a:hover {
    text-decoration :none;
  }
</style>
